/* @media screen and (min-device-width: 1200px) and (max-device-width: 1450px) { } */
@media screen and (min-device-width: 1200px) and (max-device-width: 1480px) { 
    .FL-card-view .freelancer-list-card {

        max-width: 33.33%;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 33.33%;
        -moz-box-flex: 0;
        -ms-flex: 0 0 33.33%;
        flex: 0 0 33.33%;

    }
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1380px) { 
    .feeds-tab-wrapper,.view-in-lg{
        display: block;
    }
    .dash-myfeed-left {
        order: 4;
        width: 100%;
        min-width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .dash-myfeed-left .card{
        width: calc(33.33% - 20px);
    }
    .alumni-recent-list,.alumni-group-list,.alumni-events-list{
        max-height: 280px;
    }
    .dash-myfeed-center {
        min-width: calc(100% - 400px) !important;
    }
}

@media screen and (max-width: 1480px) {
.photo-gallary-wrapper .gallery-thumb-item {
    width: calc(25% - 20px);
}
}
@media screen and (max-width: 1380px) {
    .dash-myfeed-left{order:0}
}
@media screen and (max-width: 1199px) {
    .grow-network-left {
        max-width: calc(100% - 0px);
    }
    .grow-network-right{
        width: 100%;
        padding-left:0px;
        padding-top: 25px;
    }
    .grow-network-points{
        display: flex;
        margin: 0px -15px;
    }
    .grow-network-icon figure {
        margin-right: 0px;
        margin-top: 0;
        padding-bottom: 10px;
    }
    .grow-network-points .grow-network-item{
        flex-direction: column;
    text-align: left;
    width: 25%;
    }
    .grow-network-item .align-self-start{
        width: 100%;
    }
    .about-counters-wrapper .about-counter-item{
        width: calc(50% - 14px);
        min-height: 90px;
    }
    .nav-tabs{
        flex-wrap: wrap;
    }
    .col-lg.dash-ev-col-3{
        max-width: 320px;
    }
    .feeds-tab-wrapper,.view-in-lg,.view-in-md{
        display: block;
    }
    .col-md.dash-myfeed-left, .col-md.dash-myfeed-right{
        order: 4;
        width: 50%;
        min-width: 50%;
        max-width: none;
    }
    .dash-myfeed-left .card{
        width: calc(100% - 0px);
    }
    /* .alumni-recent-list,.alumni-group-list,.alumni-events-list{
        max-height: 280px;
    } */
    .dash-myfeed-center {
        min-width: calc(100% - 0px) !important;
    }
    .FL-card-view .freelancer-list-card {

        max-width: 50%;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
        -moz-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;

    }
}

@media screen and (max-width: 991px) {
    .navbar-toggler.topbar-create-btn{
        display: flex;
        justify-content: center;
    }
    .landing-page-nav1 {
        position: absolute;
        top: calc(100% + 5px);
        width: 100%;
        background-color: #fff;
        left: 0;
        border-radius: 10px;
    }
    .landing-page-nav1 .nav-link {
        color: #5d6280 !important;
        padding:10px 15px!important;
        opacity:1;
    }
    .landing-page-nav1 .nav-item.active .nav-link {
        color: #353848 !important;
    }
    .landing-page-nav1 ul.navbar-nav.pr-2{padding-right:0px!important}
}

@media screen and (max-width: 900px) {
.FL-card-view .freelancer-list-card {

    max-width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;

}
}

@media screen and (max-width: 767px) {
    .request-notifications img {
        height: 16px;
    }
    .request-notifications .request-notification-count{left:12px}
    .request-notifications.new-notification .request-notification-count { left: 7px; }
    .topbar-create-btn {
        width: 32px;
        height: 32px;
        line-height: 30px;
    }
    .request-notifications .topbar-create-btn img {
        height: 12px;
    }
    .logo-container img {
        height: 30px;
    }
    .dash-alumni-followers-website .btn {
       width: calc(50% - 10px);
       justify-content: center;
    }
    .dash-alumni-followers-website .btn span:nth-child(2) {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 12px;
    }
    .btn.circle-add-edit-btn{
        height: 40px;
        width: 40px;
    }
    .btn.circle-add-edit-btn svg{
        transform: translate(-50%,-50%) scale(0.8);
    }
    .alumni-user-pp figure {
        width: 90px;
        height: 90px;
        border: solid 6px #fff;
    }
    .alumni-user-pp {
        transform: translateY(-50px);
        margin-bottom: -40px;
    }
    .dash-alumni-pp-name h2 {
        font-size: 18px;
        text-align: center;
        margin-top: 6px !important;
    }
    .col-md.dash-myfeed-left, .col-md.dash-myfeed-right{
        order: 4;
        width: 100%;
        min-width: 100%;
        max-width: none;
    }
    .feeds-tab-wrapper .btn {
        font-size: .8rem !important;
    }
    .alumni-group-title h5, body, p{
        font-size: 13px;
    }
    .dash-myfeed-left .card-header .d-flex h4, .dash-myfeed-right .card-header .d-flex h4 {
        font-size: 16px;
    }
}
@media screen and (max-width: 620px) {
    .alumni-status-img figure{  
        height: 45px;
        width: 45px;
    }
    .alumni-status-img img {
        height: 45px;
    }
    .add-your-status img {
        height: 14px;
    }
}
@media screen and (max-width: 576px) {
    .header-navbar .navbar-container ul.nav li.dropdown-alumni-user a.dropdown-user-link .avatar {
        height: 30px!important;
        width: 30px!important;
        margin-right: 0px;
        min-height: auto;
        border-width: 2px;
    }
    .friend-request,.new-chat-message, .new-notification{
        margin-top: 4px;
    }
    .request-notifications {
        margin-right: 14px;
    }
    .request-notifications img {
        height: 14px;
    }
    .request-notifications .request-notification-count {
        left: 11px;
    }
    .request-notifications .request-notification-count {
        font-size: 7px;
        top: -11px;
        left: 9px!important;
        min-width: 18px;
        height: 18px;
        line-height: 12px;
    }
    .request-notifications.new-notification .request-notification-count{left:4px!important}
    .request-notifications .dropdown-menu {
        top: 60px;
    }
    .alumni-container {
        width: calc(100% - 10px);
    }
    .alumni-user-pp figure {
        width: 80px;
        height: 80px;
        border: solid 5px #fff;
    }
    .alumni-user-pp {
        transform: translateY(-50px);
        margin-bottom: -40px;
    }
    .dash-alumni-pp-name h2 {
        font-size: 18px;
        text-align: center;
        margin-top: 6px !important;
    }
    .dash-alumni-followers-website .btn {
        padding: 6px 10px;
        width: calc(50% - 10px);
    }
    .dash-alumni-followers-website .btn span:nth-child(2) {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 11px;
    }
    .dash-alumni-followers-website .btn span:nth-child(1) {
        margin-right: 2px!important;
    }
    .dash-alumni-followers-website .btn svg {
        transform: scale(0.7);
    }
    .alumni-profile-top {
        flex-wrap: wrap;
    }
    .apd-item {
        margin: 10px 0px;
    }
    .btn.circle-add-edit-btn{
        height: 36px;
        width: 36px;
    }
    .btn.circle-add-edit-btn svg{
        transform: translate(-50%,-50%) scale(0.7);
    }
    .btn.alumni-institute-btn img {
        max-height: 30px;
        max-width: 120px;
    }
    .alumni-post-header .alumni-post-header-flex {flex-wrap: wrap;}
    .alumni-post-header-details {
        padding: 0px !important;
        max-width: calc(100% - 54px);
    }
    .alumni-post-header-action {
        padding-left: 54px;
        width: 100%;
    }
    .btn-react i, .post-cl-share-item .btn,
    .alumni-post-like i {
        font-size: 16px;
    }
    figure.alumni-circle-avatar-xl,
    .top-company-item-img figure {
        width: 40px;
        height: 40px;
    }
    .top-company-item-img figure img{
        height: calc(100% - 10px);
        max-width: calc(100% - 10px);
    }
    .alumni-job-bg{width: 100%;}
    .alumni-job-flex {
        flex-direction: column;
    }
    .alumni-job-bookmark {
        top: 27px;
    }
}