.h-32px {height:32px!important}
.w-32px{width:32px!important}
.policy-create-step3-card .PCS2-col.PCS2-col-left.PCS2-left-minimized {
    transform: translateX(-348px);
    position: absolute;
    z-index: 0;
  }
  .radio-type-jd {
    display: flex;
    gap:4px 10px;
    flex-wrap: wrap;
  }
  .radio-type-jd label span {
    font-size: 14px;
    color: #000;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0px 2px 7px rgba(0,0,0,0.04);
  }
  .radio-type-jd label input:checked ~ span {
    border-color:#4785FF !important;
    color: #4785FF !important;
  }
  .radio-type-jd label span i{padding:0!important}
 
.PCS2-col.PCS2-col-left.px-0.bg-white.radius-13-TL.radius-13-BL.PCS2-left-minimized ~ .PCS2-col-center {
  max-width: 100% !important;
}

/* skeleton loader */
.skeleton-loader-wrapper {
  display: none;
  text-align: center;
  margin-top: 10px;
}
.skeleton-loader {
  width: 80%;
  height: 160px;
  margin: 10px auto;
  padding: 20px;
  box-sizing: border-box;
  position:relative
}
@keyframes loading {
  to {
    transform:translate(100%)
  }
}
.skeleton-loader::after {
  animation: loading 1.5s infinite;
  background: linear-gradient(90deg,rgba(255,255,255,0),rgba(255,255,255,.5),rgba(255,255,255,0));
  transform: translate(-100%);
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.skeleton-title {
  width: 60%;
  height: 30px;
  background: #ccc;
  margin: 10px auto;
  border-radius: 4px;
}
.skeleton-description {
  width: 80%;
  height: 15px;
  background: #ddd;
  margin: 10px auto;
  border-radius: 4px;
}
.rotating-loader {
  width: 40px;
  min-width: 40px;
  height: 40px;
  border: 4px solid #ddd;
  border-top: 4px solid #007bff;
  border-radius: 50%;
  margin: 10px auto;
  display: block;
  animation: none; /* Initially no rotation */
}
.spin {
  animation: spin 1s linear infinite !important;
}
@keyframes spin {
  100% { transform: rotate(360deg); }
}
.question-box-wrapper {
  margin-top: 0px;
  padding: 1rem 1.25rem;
  border: 1px solid var(--border-light-v2);
  border-radius: 9px;
  text-align: left;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: none;
  max-width: 350px;
}
.question-box {
  text-align: left;
}
.regenerate-jd-wrapper {
  display: none;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
}
/* skeleton loader end */

.conversation-studio-card .messages .radio-type-jd label span.p_level_icon{
  min-height: auto;
  border:0;
  box-shadow: none;
}
.PCS2-col-center.PCS2-center-mr .CPS-bot-input-outer{background-color: #fff;}
.conversation-studio-card .messages .mt-2.rounded{min-width: auto;}

.step-loader-container {
    margin: 15px auto;
    /* max-width: 850px; */
    width: 100%;
}

    ol.step-loader-container.custom-ol li::before{
        text-shadow: none;
        font-size: 14px;
        background-color: inherit;
        color: inherit;
        left:5px;
        width: 32px;
        top: 50%;
        transform: translateY(-50%);
    }
    ol.step-loader-container.custom-ol li.step-done::before,
    ol.step-loader-container.custom-ol li.current-step::before{
        content: " ";
    }
    ol.step-loader-container.custom-ol li.current-step::before{
       background-color: transparent;
    }
    ol.step-loader-container.custom-ol li.pending-step::before{
         background-color: rgb(238, 238, 238) !important;
    }
    ol.step-loader-container.custom-ol li.step-done:before {
         background-color: #ecfbf7!important;
    }

    .custom-steps,
    .step {
      padding: 8px 15px 8px 45px;
      margin-bottom: 15px !important;
      border: 1px solid #fff;
      border-radius: 100px;
      display: flex;
      align-items: center;
      gap: 10px;
      background: #fff;
      transition: all 0.3s ease;
      position: relative;
      font-size: 15px;
    }

   .custom-step:not(:last-child)::after,
   .step:not(:last-child)::after {
  content: "";
  position: absolute;
  left: 21px;
  bottom: -15px;
  height: 13px;
  width: 1px;
  border-left: solid 1px currentColor;
}

    .custom-steps.custom-step-done,
    .step.step-done {
        border-color: #ecfbf7  !important;
        background: #f8fffd !important;
        color: #32D0A5 !important;
        }

    .custom-steps.pending-step,
    .step.pending-step {
      opacity: 0.6;
      color: gray;
      background-color: #fff;
      border-color: var(--border-light);
    }

   .custom-steps.custom-current-step,
   .step.current-step {
        z-index: 1;
        transition: all 0.2s;
        color: #4785ff;
        border-color:var(--border-light-primary-v2) !important;
        background-color: rgba(54, 153, 255, 0.08) !important;
        margin-bottom: 30px !important;
        }

    .custom-steps-loader,
    .steps-loader {
      border: 3px solid #f3f3f3;
      border-top: 3px solid #4785ff;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      animation: spin 1s linear infinite;
      position: absolute;
      left: 13px;
      top: calc(50% - 8px);
      transform: translateY(-50%);
    }
.custom-indv-com-attributes-loader,
    .indv-com-attributes-loader {
  position: absolute;
  bottom: -25px;
}
.custom-steps.current-step:not(:last-child)::after,
.step.current-step:not(:last-child)::after {
  height: 30px;
  bottom: -30px;
}


    .checkmark {
      color: #2ecc71;
     font-size: 13px;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    }

    .preview-btn {
      opacity: 0;
      transform: translateY(10px);
      transition: opacity 0.5s ease, transform 0.5s ease;
      margin-top: 20px;
      text-align: center;
      display: block;
      pointer-events: none;
    }

    .preview-btn.show {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }