.title-banner-v2{
gap:0;
}
.title-banner-v2::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(rgba(255,255,255,0.06) 1px, transparent 1px), linear-gradient(90deg, rgba(255,255,255,0.06) 1px, transparent 1px);
  background-size: 32px 32px;
  opacity: 0.4;
  pointer-events: none;
}
.ui-v2 .default-arrow-collapse.collapsed::after,
.ui-v2 .default-arrow-collapse::after{
  background-color: transparent;
  color: rgb(107, 114, 128);
}

.ui-v2 .JDv2-KA-accordion-item .JDv2-KA-accordion-item .default-arrow-collapse.collapsed:hover::after{
  background-color: rgba(243, 244, 246, 0.5);
    color:rgb(107, 114, 128);
}
.grid-style-v2 .bg-secondary-o-50 svg[width="18"] {
  height: 14px;
  width: 14px;
}
.grid-style-v2 .font-15{line-height: 20px}
.jd-main-tabs > .JDv2-KA-accordion-item:hover{
  border-color: rgba(11, 100, 244, 0.3) !important;
}
 .hover-rounded-bottom-0:hover {
     border-bottom-left-radius: 0 !important;
     border-bottom-right-radius: 0 !important;
}
.JDv2-KA-accordion-item .bg-hover-lighter:after{
  right:10px;
}
.CP-main-tile,
.career-path-list .bg-hover-white,
.career-path-list a.bg-hover-white{position: relative;}
.career-path-list .bg-hover-white:before,
.career-path-list a.bg-hover-white::before {
  content: "";
  top: -21px;
  left: 50%;
  position: absolute;
  border-left: dashed 1px #CAD3E6;
  height: 20px;
  width: 1px;
}
.career-path-list .bg-hover-white:first-child:before,
.career-path-list a.bg-hover-white:first-child::before {
  top: -52px;
  height: 16px;
}
.career-path-grid{border-top-style: dashed;border-top-width: 1px}
.CP-main-tile::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -15px;
  border-left: dashed 1px #CAD3E6;
  height: 13px;
}
.CP-new-path-btn {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  z-index: 9;
}
.career-path-wrapper{position: relative;flex-grow: 1;
  min-width: 240px;}
.career-path-wrapper:first-child::after {
  content: "";
  position: absolute;
  left: 0;
  top: calc(-1.5rem - 2px);
  width: calc(50% - 1px);
  height: 3px;
  background-color: #fcfcfd;
}
.career-path-wrapper:last-child:after {
  content: "";
  position: absolute;
  right: 0;
  top: calc(-1.5rem - 2px);
  width: calc(50% - 1px);
  height: 3px;
  background-color: #fcfcfd;
}