.JBS-top-left {
  width: 270px;
  transform: translateY(-60px);
  margin-bottom: -55px;
  background-color: #fff;
  position: relative;
  position: sticky;
  top: 165px;
  margin-bottom: auto;
}
.job-board-pp .symbol {
  transform: translateY(-55px);
  margin-bottom: -55px;
}

.job-listv2-banner {
    background-color: #fff;
    width: 100%;
    min-height: 120px;
    border-radius:13px 13px 0 0;
    background-size: cover;
    background-position:bottom 300px right;
    overflow:hidden;
    padding:1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  .job-listv2-banner::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 100%;
    background-image: linear-gradient(300deg, rgba(19, 0, 134, 0.2) -15%, rgba(71, 133, 255, 0.9) 80%);
  }
  .border-top-dashed{
    border-top-style: dashed;
    border-top-width: 1px;
  }
  .max-w-85{max-width: 85%!important;}

  .search-on-hover .form-control {
  transition: all 0.3s;
  width: 0;
  position: absolute;
  right: 30px;
  opacity: 0;
}
.search-on-hover .input-group-text:not(.input-group-text:hover .input-group-text) {
  transition: all 0.3s;
  border-radius: 0.45rem !important;
  text-align: center;
  justify-content: center;
  padding: 0 15px !important;
  border-left: solid 1px var(--border-form-control) !important;
}
.search-on-hover .form-control.search-contains-text, .search-on-hover:hover .form-control {
  width: 200px;
  opacity: 1;
}
.JLv2-sort-dropdown .dropdown-menu li:first-child a {
  border-top: none;
}
.JLv2-sort-dropdown .dropdown-menu li a {
  border-top: solid 1px var(--border-light-v2);
  padding: 3px 0;
  font-size: 12px;
  display: inline-block;
  width: 100%;
}
.JDv2-heading {
  position: relative;
  padding-bottom: 10px;
  display: inline-block !important;
}
.tile-v2{
  box-shadow: 0px 0px 7.90034px rgba(97, 97, 97, 0.12);
  border-radius: 3.95017px;
  padding: 15px 15px 15px 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  transition: all 0.2s;
}
.tile-v2:hover {
  box-shadow: 0px 0px 12px rgba(97, 97, 97, 0.24);
}
.MP-assessment-wrapper .tile-v2{
  width: calc(33.33% - 15px);
  max-width: calc(33.33% - 13px);
}
.my-profile-card .MJ-key-policy-list .MJ-KP-item{
  min-height: 75px;
}
.text-center.inline-editable-div.placeholder::after{min-width: 100px;}
.skill-done-span{
  position: absolute;
  top:4px;
  left:4px;
}
.delete-new-skill {
  position: absolute;
  top: 5px;
  right: 5px;
}