body .irs--flat .irs-from,
body .irs--flat .irs-to,
body .irs--flat .irs-single,
body .irs--flat .irs-handle>i:first-child,
body .irs--flat .irs-bar {
    background-color: #4785ff;
}

body .irs--flat .irs-bar {
    border-radius: 10px 0 0 10px
}

body .irs--flat .irs-line {
    border-radius: 10px;
}

body .irs--flat .irs-handle.state_hover>i:first-child,
body .irs--flat .irs-handle:hover>i:first-child {
    background-color: #3760b0;
}

body .irs--flat .irs-from::before,
body .irs--flat .irs-to::before,
body .irs--flat .irs-single::before {
    border-top-color: #4785ff;
}

.irs-h-5px .irs--flat .irs-bar,
.irs-h-5px .irs--flat .irs-line {
    height: 5px;
    top: 5px;
}

.irs-h-5px .irs--flat .irs-handle {
    top: 2px;
    height: 11px;
}

.irs-h-5px .irs--flat .irs-bar {
    top: 5px;
    height: 5px;
}

.irs-h-5px .irs--flat.irs-with-grid {
    height: 25px;
}

.irs-h-5px .irs-from,
.irs-h-5px .irs-to,
.irs-h-5px .irs-single,
.irs-h-5px .irs-max,
.irs-h-5px .irs-min {
    display: none
}

.create-journey-wrapper-v2 {
    overflow: hidden;
}

.create-journey-wrapper-v2 .show-journey-MM,
.create-journey-wrapper-v2 .SA-form-flex {
    transition: all 0.3s;
}

.create-journey-wrapper-v2 .CJ-right-wrapper-inner {
    position: relative;
}

.create-journey-wrapper-v2 .CJ-right-wrapper-inner * {
    transition: all 0.3s;
}

.create-journey-wrapper-v2 .CJ-right-wrapper {
    width: calc(100% - 260px);
    transition: all 0.1s;
}

.CJL-sec {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 15px;
}

.CJR-sec {
    padding: 15px;
    margin: 15px;
    width: 100%;
    background-color: #edf4ff;
    border-radius: 7px;
    max-width: calc(100% - 305px);
    position: relative;
    z-index: 2;
}

.CJL-task-group-list {
    min-width: 260px;
    width: 260px;
}

.CJL-task-group-list-inner:not(.create-journey-wrapper-v2 .CJL-task-group-list-inner) {
    position: relative;
    padding-left: 30px;
}

.CJL-task-group-list-inner:not(.create-journey-wrapper-v2 .CJL-task-group-list-inner:before)::before {
    content: "";
    position: absolute;
    left: 0;
    top: 20px;
    bottom: 47px;
    border-left: solid 1px #c7daff;
}

.breadcrumb-v3 {
    list-style-type: none;
    padding-left: 7px;
    align-self: center;
}

.v2 .breadcrumb-level::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #4785ff;
    transform: skew(-20deg);
    z-index: -1;
    border: solid 1px #4785ff;
}

.breadcrumb-level {
    display: inline-block;
    position: relative;
}

.breadcrumb-level:last-child a {
    cursor: default;
}

.breadcrumb-level:last-child a::before,
.breadcrumb-level:last-child a::after {
    background: lighten(#4785ff, 10%);
}

.v2 .breadcrumb-level:last-child::before {
    background: rgba(54, 153, 255, 0.08) !important;
    border-color: rgba(54, 153, 255, 0.2) !important;
}

.v2 .breadcrumb-level:last-child a,
.breadcrumb-level a:not([href]):hover {
    color: #4785ff
}

.breadcrumb-level a {
    display: inline-block;
    position: relative;
    line-height: 3;
    padding: 0 5px;
    color: #fff;
    text-decoration: none;
    font-size: 10px;
}
.policy-output-v3-card1 li:last-child .CJL-task-group{
    margin-bottom:10px!important;
}
.policy-output-v3-card1 .scroll-tab-parent .inline-editable-div.bb:before{
    bottom:0;
}
.policy-output-v3-card1 .SAF-tabs ul.nav li .policy-v3-tabs-del,
.policy-output-v3-card1 .scroll-tab-parent .nav-item .inline-editable-div.bb ~ .policy-v3-innerTabs-del{
    transition:all 0.2s ease;
    opacity:0;
    overflow:hidden;
}
.policy-output-v3-card1 .SAF-tabs ul.nav li:hover .policy-v3-tabs-del,
.policy-output-v3-card1 .scroll-tab-parent .nav-item:hover .inline-editable-div.bb ~ .policy-v3-innerTabs-del{
    opacity:1;
}

.policy-output-v3-card1 ul.CJL-task-group-list-inner > li .dragHandle,
.policy-output-v3-card1 .SAF-tabs ul.nav li .dragHandle{
    position: absolute;
  left: 7px;
  top: 0;
  z-index: 1;
  bottom: 0;
}
.policy-output-v3-card1 .create-journey-wrapper .SA-form-flex .nav .nav-link .on-hover-sel-icon,
.policy-output-v3-card1 .create-journey-wrapper .SA-form-flex .nav .nav-link .on-hover-sel-icon ~ img{
    transition:all 0.4s ease
}
.policy-output-v3-card1 .create-journey-wrapper .SA-form-flex .nav .nav-link .on-hover-sel-icon,
.policy-output-v3-card1 .create-journey-wrapper .SA-form-flex .nav .nav-link:hover .on-hover-sel-icon ~ img{
    opacity:0;
}
.policy-output-v3-card1 .create-journey-wrapper .SA-form-flex .nav .nav-link .on-hover-sel-icon ~ img,
.policy-output-v3-card1 .create-journey-wrapper .SA-form-flex .nav .nav-link:hover .on-hover-sel-icon{
    opacity:1;
}
.policy-output-v3-card1 .create-journey-wrapper-v2 .CJ-right-wrapper-inner li div ~ .d-flex.justify-content-between,
.policy-output-v3-card1 .create-journey-wrapper .SA-form-flex .nav .nav-item div ~ .d-flex.justify-content-between {
    transition: all 0.3s ease;
    height: 0;
    overflow: hidden;
  }
.policy-output-v3-card1 .create-journey-wrapper-v2 .CJ-right-wrapper-inner li:hover div ~ .d-flex.justify-content-between{
    height: 22px;
  }
.policy-output-v3-card1 .create-journey-wrapper .SA-form-flex .nav .nav-item:hover div ~ .d-flex.justify-content-between  {
    height: 36.5px;
  }
  .on-hover-sel-icon{
    position:absolute;  
    z-index:1;  
}
.studio-preview-bg{
    background-size:cover;
    background-position:center center;
    margin-left:auto;
    margin-right:auto;
}
.policy-output-v3-card1 ul.CJL-task-group-list-inner > li .dragHandle, .policy-output-v3-card1 .SAF-tabs ul.nav li .dragHandle {
    position: absolute;
    left: 7px;
    top: 0;
    z-index: 1;
    bottom: 0;
  }
.policy-output-v3-card1 .SAF-tabs ul.nav li .dragHandle {
    left: -5px;
  }
  
  .SA-form-flex .nav .nav-link {
    position: relative;
    padding: 15px 15px 15px 3px;
    font-weight: 400;
    font-size: 15px;
  }
  /* .SA-form-flex .nav .nav-item:first-child .nav-link:not(.create-journey-wrapper-v2 .nav-item:first-child .nav-link, .policy-output-v3-card .nav-item:first-child .nav-link, .collapse-SAF-tabs-list li .nav-link){padding-top:0;} */

  .SA-form-flex .nav .nav-link:not(.nav-link.active),
  .add-align-assign-wrapper .AAAW-left .nav .nav-link:not(.nav-link.active){color:#2b345f!important}

  .SA-form-flex .nav .nav-link:not(.nav-link.active) img{
    filter: contrast(0);
  }

  .SA-form-flex .nav .nav-link:before,
  .add-align-assign-wrapper .AAAW-left .nav .nav-link:before{
    content:"";
    position:absolute;
    bottom:0;
    left:0;
    width:0;
    height:1px;
    transition:0.3s;
  }

  .SA-form-flex .nav .nav-link.active:before,
  .add-align-assign-wrapper .AAAW-left .nav .nav-link.active:before{
    width:100%;
    background-color:#4785FF;
  }
  .SA-form-flex .nav .nav-link.active:after,
  .add-align-assign-wrapper .AAAW-left .nav .nav-link.active:after{
    content: "";
    font-family: "Line Awesome Free";
    font-weight: 900;
    color: #4785FF;
    margin-left: auto;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .SA-form-flex .nav .nav-link:not(.nav-item:last-child .nav-link),
  .add-align-assign-wrapper .AAAW-left .nav .nav-link:not(.nav-item:last-child .nav-link){
    border-bottom:solid 1px var(--border-light-v2)
  }
 .kanban-config-card .SA-form-flex .nav .nav-link{border:0!important;}
  .add-align-assign-wrapper .AAAW-right {
    width: calc(100% - 150px);
  }
  .SA-form-flex .nav .nav-link:not(.nav-link.active),
  .add-align-assign-wrapper .AAAW-left .nav .nav-link:not(.nav-link.active){color:#2b345f!important}

  .SA-form-flex .nav .nav-link:not(.nav-link.active) img{
    filter: contrast(0);
  }

  .SA-form-flex .nav .nav-link:before,
  .add-align-assign-wrapper .AAAW-left .nav .nav-link:before{
    content:"";
    position:absolute;
    bottom:0;
    left:0;
    width:0;
    height:1px;
    transition:0.3s;
  }

  .SA-form-flex .nav .nav-link.active:before,
  .add-align-assign-wrapper .AAAW-left .nav .nav-link.active:before{
    width:100%;
    background-color:#4785FF;
  }
  .SA-form-flex .nav .nav-link.active:after,
  .add-align-assign-wrapper .AAAW-left .nav .nav-link.active:after{
    content: "";
    font-family: "Line Awesome Free";
    font-weight: 900;
    color: #4785FF;
    margin-left: auto;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .SA-form-flex .nav .nav-link:not(.nav-item:last-child .nav-link),
  .add-align-assign-wrapper .AAAW-left .nav .nav-link:not(.nav-item:last-child .nav-link){
    border-bottom:solid 1px var(--border-light-v2)
  }
  .filter-contrast1 {
    filter: contrast(1) !important;
  }
  .editor-block-actions{
    opacity:0;
    top:15px;
    right:15px;
    width:0;
    transition:all 0.2s;
    position: absolute;
    z-index:12;
    border: solid 1px rgba(219, 227, 242,0.2);
    background-color: rgb(248, 250, 253);
    border-radius: 100px;
    height: 25px;
    line-height: 22px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.15);
    pointer-events:none;
  }
  .studio-preview-bg .studio-preview-block{position:relative;}
  .studio-preview-bg .studio-preview-block:hover .editor-block-actions{
    opacity:1;
    width:58px;
    pointer-events:auto;
  }
  .CJ-right-wrapper-inner .studio-preview-bg .codex-editor--narrow .ce-toolbar__actions {
    right: calc(100% + 0px) !important;
  }
  .CJ-right-wrapper-inner .studio-preview-bg .codex-editor {
    margin-left: 52px;
  }
  .CJ-right-wrapper-inner .studio-preview-bg .codex-editor--narrow .codex-editor__redactor {
    margin-right: 0px;
  }
  .codex-editor{margin-left:70px;}
  .codex-editor__redactor{
    padding-bottom:50px!important;
  }

  /* studio accordion */
  .strategy-okr-accordion .accordion:not(.OKR-accordion-L1) {
    padding: 1.85rem 0px 0px 1.85rem;
      padding-top: 1.85rem;
      padding-left: 1.85rem;
  }
  .strategy-okr-accordion .accordion {
    padding-top: 0px !important;
  }
 
  .CP-accrodion .strategy-okr-accordion .accordion {
    position: relative;
    padding-left: 0px;
  }
  .CP-accrodion .strategy-okr-accordion > .accordion > ul > li:last-child > .card::before {
    bottom: 25px;
  }
  .CP-accrodion .strategy-okr-accordion > .accordion > ul > li > .card::before, .CP-accrodion .strategy-okr-accordion > .accordion > .card:not(:last-child)::before {
    content: '';
    position: absolute;
    top: 30px;
    left: 21px;
    width: 0px;
    border-left: 1px solid #011f4b !important;
    z-index: 1;
    border-top: 1px solid #011f4b !important;
    border-radius: 7px 0 0 7px;
    border-bottom: 1px solid #011f4b !important;
    bottom: -10px;
    opacity: 0.5;
  }
  .accordion.accordion-light .card:first-child .card-header {
    margin: 0;
  }
  .accordion.accordion-toggle-arrow.AL-assessment-accordion .card-header {
    box-shadow: none;
    border: 0px;
  }


  .CP-accrodion .strategy-okr-accordion > .accordion > ul > li > .card .cluster-list-item, 
  .CP-accrodion .strategy-okr-accordion > .accordion > .card .cluster-list-item {
    z-index: unset;
  }
  .CP-accrodion .strategy-okr-accordion .accordion .cluster-list-item {
    position: relative;
  }
  .accordion.accordion-toggle-arrow.AL-assessment-accordion .cluster-list-item {
    padding-right: 0px;
    border-left: 0px;
    box-shadow: none;
    border-radius: 10px;
  }
  .strategy-okr-accordion.assessment-accordion-wrapper .cluster-list-item {
    overflow: visible;
    background-color: transparent;
  }
  .create-journey-wrapper-v2 .CJ-right-wrapper-inner * {
    transition: all 0.3s;
  }
  .CPS2-element-actions {
    position: absolute;
    bottom: -13px;
    left: -100px;
    right: unset;
    padding: 5px 10px;
    border: solid 1px rgba(219, 227, 242,0.2);
    background-color: rgb(248, 250, 253);
    border-radius: 100px;
    opacity: 0;
    z-index: -2;
  }
  .CP-accrodion .strategy-okr-accordion .accordion .cluster-list-item .CPS2-element-actions {
    left: 10px;
    bottom: 25px;
  }
  .CPS2-element-actions .btn {
    line-height: 0;
  }
  .accordion.accordion-toggle-arrow .card .card-header .card-title::after {
    position: absolute;
    font-family: Ki;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    content: "";
    color: #4785FF;
    font-size: 0.7rem;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
  }
  .accordion.accordion-toggle-arrow.AL-assessment-accordion .card .card-header .card-title::after, 
  .accordion.accordion-toggle-arrow.AL-assessment-accordion .card .card-header .card-title.collapsed::after {
    color: rgb(255, 255, 255);
  }
  .accordion.accordion-toggle-arrow.AL-assessment-accordion .card .card-header .card-title::after {
    right: 15px;
  }
  .strategy-okr-accordion .accordion.accordion-toggle-arrow.AL-assessment-accordion .card .card-header .card-title::after {
    display: none;
    color: #2B345F;
  }

  .CP-accrodion .strategy-okr-accordion > .accordion > ul > li > .card > .card-header > .cluster-list-item .card-title, 
  .CP-accrodion .strategy-okr-accordion > .accordion > .card > .card-header > .cluster-list-item .card-title {
    background-color: #011f4b;
    border-color: rgba(0,0,0,0.1);
  }
  .CP-accrodion .strategy-okr-accordion .accordion .card .card-header .card-title, .CP-accrodion .strategy-okr-accordion .accordion .card .card-header .cluster-list-item .card-title {
    position: relative;
  }
  .strategy-okr-accordion .accordion.accordion-toggle-arrow.AL-assessment-accordion .card .card-title {
    width: 100%;
  }
  .accordion.accordion-toggle-arrow.AL-assessment-accordion .card .card-header .card-title {
    padding: 18px 30px 18px 18px;
    position: relative;
    border-radius: 10px;
  }
  .strategy-okr-accordion .accordion.accordion-toggle-arrow.AL-assessment-accordion .card-title {
    padding: 0px !important;
  }
  .accordion.accordion-toggle-arrow.AL-assessment-accordion .cluster-list-item > .card-title {
    box-shadow: none;
    border: 0;
      border-top-color: currentcolor;
      border-right-color: currentcolor;
      border-bottom-color: currentcolor;
      border-left-color: currentcolor;
  }
  .accordion.accordion-toggle-arrow .card .card-header .card-title {
    color: #4785FF;
    position: relative;
  }
  .accordion.accordion-light .card .card-header .card-title {
    padding: 1rem 0;
  }
  .accordion .card .card-header .card-title {
    padding: 1rem 1.25rem;
    margin: 0;
    font-size: 1.15rem;
    font-weight: 500;
    color: #4785FF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
  }
  .CP-accrodion .strategy-okr-accordion .accordion .card .dragHandle {
    background-image: radial-gradient(circle at 2px 2px, rgb(255, 255, 255) 2px, transparent 0px) !important;
  }
  .CP-accrodion .strategy-okr-accordion .accordion .strategy-template-list .strategy-template-item .AL2-icon, .CP-accrodion .strategy-okr-accordion .accordion .strategy-template-list .strategy-template-item img:not(a img, .CPS2-element-actions img, .symbol img), .CP-accrodion .strategy-okr-accordion .accordion .card .card-header .card-title img:not(a img, .symbol img), .CP-accrodion .strategy-okr-accordion .accordion .card .card-header .card-title .AL2-icon {
    border-color: rgba(255, 255, 255, 0.2) !important;
    filter: brightness(10);
  }
  .AL2-icon img {
    width: 24px;
  }
  .CP-accrodion .strategy-okr-accordion .accordion .card .card-header .cli-title, .CP-accrodion .strategy-okr-accordion .accordion .card .card-header .text-dark:not(.header-menu .text-dark), .CP-accrodion .strategy-okr-accordion .accordion .strategy-template-item .card-title .text-dark, .CP-accrodion .strategy-okr-accordion .accordion .card .card-header .text-black, .CP-accrodion .strategy-okr-accordion .accordion .strategy-template-item .card-title .text-black, .CP-accrodion .strategy-okr-accordion .accordion .card .card-header .text-muted, .CP-accrodion .strategy-okr-accordion .accordion .strategy-template-item .card-title .text-muted, .CP-accrodion .strategy-okr-accordion .accordion .card .card-header .cli-title :not(.text-warning), .CP-accrodion .strategy-okr-accordion .accordion .strategy-template-item .card-title .cli-title :not(.text-warning), .CP-accrodion .strategy-okr-accordion .accordion .card .card-header .card-title .card-title-collapse::after {
    color: rgb(255, 255, 255) !important;
  }
  .strategy-okr-accordion .accordion.accordion-toggle-arrow.AL-assessment-accordion .card-title .card-title-collapse-text, .strategy-okr-accordion .accordion.accordion-toggle-arrow.AL-assessment-accordion .card-title .card-title-collapse {
    padding: 18px;
  }
  .accordion.accordion-toggle-arrow.AL-assessment-accordion .cli-title {
    font-size: 15px;
  }
  .CP-accrodion .strategy-okr-accordion .accordion .inline-editable-div {
    padding-right: 18px !important;
    position: relative;
    cursor: text;
    margin-top: 8px;
    margin-bottom: 8px;
    display: inline-block;
    padding-bottom: 3px !important;
    padding-top: 3px !important;
    line-height: normal;
  }
  .strategy-okr-accordion .accordion.accordion-toggle-arrow.AL-assessment-accordion .card .card-header .card-title .card-title-collapse::after {
    right: 15px;
    color: rgb(43, 52, 95);
  }
  .strategy-okr-accordion .accordion.accordion-toggle-arrow.AL-assessment-accordion .card .card-header .card-title .card-title-collapse::after {
    position: absolute;
    font-family: Ki;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizelegibility;
    text-transform: none;
    content: "";
    color: rgb(71, 133, 255);
    font-size: 0.7rem;
    transition: 0.15s;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
  }
  .CP-accrodion .strategy-okr-accordion .accordion .card .card-header .cli-title, .CP-accrodion .strategy-okr-accordion .accordion .card .card-header .text-dark:not(.header-menu .text-dark), .CP-accrodion .strategy-okr-accordion .accordion .strategy-template-item .card-title .text-dark, .CP-accrodion .strategy-okr-accordion .accordion .card .card-header .text-black, .CP-accrodion .strategy-okr-accordion .accordion .strategy-template-item .card-title .text-black, .CP-accrodion .strategy-okr-accordion .accordion .card .card-header .text-muted, .CP-accrodion .strategy-okr-accordion .accordion .strategy-template-item .card-title .text-muted, .CP-accrodion .strategy-okr-accordion .accordion .card .card-header .cli-title :not(.text-warning), .CP-accrodion .strategy-okr-accordion .accordion .strategy-template-item .card-title .cli-title :not(.text-warning), .CP-accrodion .strategy-okr-accordion .accordion .card .card-header .card-title .card-title-collapse::after {
    color: rgb(255, 255, 255) !important;
  }
  .accordion.accordion-toggle-arrow.AL-assessment-accordion .cluster-list-item .card-title .card-title-collapse::after {
    left: 50%;
    transform: translate(-50%,-50%) rotate(180deg) !important;
    right: unset !important;
    top: 12px !important;
    height: 10px;
    transition: all 0.2s;
  }
  .cli-title-with-last-update {
    max-width: calc(100% - 250px);
  }
  .cli-title {
    font-size: 14px;
    font-weight: normal;
    color: #53576e;
  }
  .accordion.accordion-toggle-arrow.AL-assessment-accordion .cluster-list-item .card-title .card-title-collapse {
    position: absolute !important;
    left: 50%;
    bottom: -10px;
    width: 143px;
    text-align: center;
    transform: translateX(-50%);
    border-radius: 0px 0px 100px 100px;
    padding: 0px !important;
    transition: 0.4s;
    z-index: -1;
    opacity: 0;
  }
  .strategy-accordion-arrow_v2 {
    width: 55px;
    overflow: hidden;
    transition: all 0.2s;
    position: absolute;
    height: 33px;
    right: 10px;
    bottom: 12px;
  }
  .strategy-accordion-arrow_v2 > .btn {
    position: absolute;
    opacity: 0;
    top: 55px;
    right: 0;
    transition: 0.4s;
  }
  .CP-accrodion .strategy-okr-accordion .accordion .cluster-list-item .card-title:hover .strategy-accordion-arrow_v2 {
    width: 45px;
    bottom: calc(50% - 18px);
  }
  .CP-accrodion .strategy-okr-accordion .accordion .cluster-list-item .card-title:hover .strategy-accordion-arrow_v2 > .btn {
    position: absolute;
    top: 0;
    opacity: 1;
    transition: 0.2s;
  }
  .CP-accrodion .strategy-okr-accordion > .accordion .cluster-list-item:hover .cli-title-last-updated {
    transform: translateX(-50px);
  }
  .accordion.accordion-toggle-arrow.AL-assessment-accordion .cluster-list-item:hover .card-title .card-title-collapse::after {
    top: 17px !important;
  }
  .accordion.accordion-toggle-arrow.AL-assessment-accordion .cluster-list-item:hover .card-title .card-title-collapse {
    opacity: 1;
    bottom: -29px;
    z-index: 1;
  }
  .strategy-v2-keyresult-list .SV2KR-item .SV2KR-title,
  .accordion .cli-title > span {
    font-family: "Zilla Slab", serif;
    font-weight: 500;
    font-size: 19px !important;
  }
  @media (min-width: 1380px) {
  .strategy-v2-keyresult-list .SV2KR-item .SV2KR-title,
  .accordion .cli-title > span{
    font-size: 22px !important;
  }
}
.strategy-step-inner-content .SSIC-actions {
  position: relative;
}
.strategy-step-inner-content .SSIC-actions::before {
  content: "";
  position: absolute;
  top: -1.25rem;
  left: 12px;
  height: 1.25rem;
  width: 1px;
  border-left: dotted 2px #4785FF;
}
@media (min-width: 992px) {
  .header-menu .menu-nav > .menu-item:first-child {
    padding-left: 0;
  }
}
@media (min-width: 992px) {
  .header-menu .menu-nav > .menu-item.menu-item-rel {
    position: relative;
  }
}
.strategy-step-inner-content .SSIC-actions .SSIC-action-item {
  margin-right: 15px;
  position: relative;
}
@media (min-width: 992px) {
  .header-menu .menu-nav > .menu-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0px 0.25rem;
    padding: 0px 0.25rem;
  }
}
.CP-accrodion .strategy-okr-accordion > .accordion .accordion > ul > li > .card > .card-header > .cluster-list-item .card-title, .CP-accrodion .strategy-okr-accordion > .accordion .accordion > .card > .card-header > .cluster-list-item .card-title {
  background-color: #03396c;
  border-color: rgba(0,0,0,0.1);
}
.CP-accrodion .strategy-okr-accordion .accordion.accordion-toggle-arrow.AL-assessment-accordion .accordion .card-title:hover::before {
  border-left: solid 4px #2572bb !important;
}
.CP-accrodion .strategy-okr-accordion .accordion.accordion-toggle-arrow.AL-assessment-accordion .card-title:hover::before {
  content: "" !important;
  position: absolute !important;
  left: -1px !important;
  top: 3px !important;
  width: 1px;
  border-left: solid 4px rgb(84, 130, 198) !important;
  display: block !important;
  border-radius: 10px 0 0 10px;
  bottom: 3px !important;
}
.strategy-okr-accordion .accordion .accordion {
  padding: 1.85rem 0 0 1.85rem;
}
.accordion.accordion-toggle-arrow.AL-assessment-accordion .cluster-list-item:hover .card-title .card-title-collapse svg {
  height: 30px;
}
.CP-accrodion .strategy-okr-accordion > .accordion .accordion > ul > li > .card::before, .CP-accrodion .strategy-okr-accordion > .accordion .accordion > .card::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 50px;
  bottom: -50px;
  width: 2px;
  border: solid #03396c;
  border-width: 1px 0 1px 1px;
  border-radius: 7px 0 0 7px;
  opacity: 0.5;
}
.CP-accrodion .strategy-okr-accordion > .accordion .accordion > ul > li > .card .cluster-list-item::after, .CP-accrodion .strategy-okr-accordion > .accordion .accordion > .card .cluster-list-item::after {
  content: "";
  position: absolute;
  left: -15px;
  top: 50px;
  bottom: -50px;
  width: 15px;
  border: solid #03396c;
  border-width: 0px 0px 1px 0px;
  opacity: 0.5;
  display: block;
  height: 15px;
}
.strategy-okr-accordion .header-menu .menu-nav > .menu-item .menu-submenu.menu-submenu-classic {
  padding: 5px 0px;
}
  /* studio accordion end */

  /* studio custom image */
  .iWithT-actions {
    position: absolute;
    right: 80px;
    top: 15px;
    line-height: 0;
    z-index: 3;
    background-color: rgba(0,0,0,0.6);
    padding: 6px 10px;
    border-radius: 100px;
    box-shadow: 0px 0px 14px rgba(255,255,255,0.25);
    border:solid 1px rgba(255,255,255,0.2);
    opacity:0;
    width:0;
    transition:all 0.2s;
  }
  .imgWithText-wrapper .inline-editable-div i{color: unset;}
  .imgWithText-wrapper:hover .iWithT-actions{opacity:1;width:83px;}
  .iWithT-actions a img {
    filter: drop-shadow(1px 1px 1px #000);
    width:auto;
    min-width:13px;
  }
.iWithT-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index:1;
}
.imgWithText-wrapper figure {
  overflow: hidden;
}
.imgWithText-opacity-wrapper {
    position: absolute;
    top: 50%;
    width: 300px;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 5px 20px 10px 20px;
    border-radius: 100px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2);
  }
  .imgWithText-opacity-wrapper .noUi-target .noUi-connect{
    background:rgba(255,255,255,0.8);
  }
  .imgWithText-opacity-wrapper .noUi-target {
    border: 1px solid rgba(0,0,0,0.1);
    background: rgba(255, 255, 255, 0.1);
}
  .imgWithText-opacity-wrapper .noUi-target.nouislider.nouislider-handle-danger .noUi-handle {
    background:#4785ff;
    box-shadow: 0 3px 6px -3px #4785ff;
}
.imgWithTextCaption {
  position: absolute;
  z-index: 2;
  padding: 10px;
}
.imgWithTextCaption .inline-editable-div.placeholder::after {
  left: 50%;
  transform: translate(-50%,-50%);
  color: rgba(255,255,255,0.8) !important;
  white-space: nowrap;
}
.imgWithTextCaption .inline-editable-div.placeholder {
  display: inline-block;
  min-width: 265px;
}
.PO-caption-settings .bootstrap-select .btn .filter-option-inner-inner *{
  font-size:14px!important
}
.offcanvas.offcanvas-right.PO-caption-settings:not(.offcanvas-on){
  right:-640px;
}
.PO-caption-settings{width:640px;}
.PO-caption-colorpicker .minicolors-theme-default {
  width: 100% !important;
  height: auto;
}
.PO-caption-colorpicker input.minicolors-input {
  width: 100% !important;
  height: auto !important;
  max-height: 37px;
  padding-left: 30px;
}
.PO-caption-colorpicker .minicolors-theme-default .minicolors-swatch {
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5px;
  border: 0;
  width: 20px;
  height: 20px;
}
.PO-caption-colorpicker .minicolors-theme-default .minicolors-swatch .minicolors-swatch-color {
  border-radius: 5px;
  border: solid 1px rgba(0,0,0,0.1);
}
  /* studio custom image end */
  .collapsed-visible-50px .collapse:not(.show) {
    height: 20px;
  }
  .approval-timeline-collaborators .symbol.symbol-light .symbol-label {
    background-color: #DFE3F8;
  }
  .strategy-step-inner-content .SSIC-actions .ps-container > .ps-scrollbar-y-rail {
    background-color: #eee;
    opacity: 0.9!important;
  }

