.obDocument-status-list {
    min-width: 180px;
  }
  .obDocument-status-list ul{gap:5px;min-width: 205px;}
  .obDocument-status-list-actions ul li,
  .obDocument-status-list ul li {
    word-wrap: break-word;
    display: flex;
    white-space: normal;
    align-items: baseline;
    gap: 3px;
    line-height: 18px;
    font-size: 13px;
  }
  .obDocument-status-list-actions ul{
    flex-direction: column;
  }
  .obDocument-status-list-actions ul li :last-child > span:last-child {
    min-width: 80px;
  }
  .obDocument-status-list-actions ul li :last-child > span:last-child a{
    display: inline-block;
  }
  .obDocument-status-list-actions ul li {
    align-items: center;
    border-top: solid 1px var(--border-light-v2);
    padding: 7px 0;
    gap:7px;
  }
  .obDocument-status-list-actions ul li i{font-size: 14px;}
  .obDocument-status-list-actions ul li:first-child{border:0; padding-top: 0;}
  .obDocument-status-list-actions ul li:last-child{padding-bottom: 0;}
  .obDocument-status-list-actions ul li a{transition: all 0.1s;}
  .obDocument-status-list-actions ul li a.onDoc-status-title{max-width: 120px;}
  .obDocument-status-list-actions ul li a.onDoc-status-title:hover{opacity:0.65}
  .onboarding-timeline-offcanvas.offcanvas-on{
    max-width: 500px;
    width: 100%;
  }
  .onboarding-timeline-offcanvas:not(.offcanvas-on){
    right: -500px;
  }

  .onboarding-timeline-offcanvas .offcanvas-content{height:calc(100vh - 40px)}
  .onboarding-timeline-offcanvas .CS-v1-card .AP-cards-accordion > .card::after {
    content: "";
    position: absolute;
    left: 126px;
    top: 6px;
    right: -14px;
    height: 100%;
    z-index: -1;
  }
  .onboarding-timeline-offcanvas .CS-v1-card .AP-cards-accordion > .card:first-child::after,
  .onboarding-timeline-offcanvas .CS-v1-card .AP-cards-accordion > .card:last-child::after {
    height: calc(100% + 20px);
  }
  .onboarding-timeline-offcanvas .CS-v1-card .AP-cards-accordion > .card:first-child::after{
    top:-14px;
  }
  .CS-v1-card .AP-cards-accordion .CS-v2-issue .svg-icon:not(.header-menu .svg-icon) {
    background-color: #FFEFEF;
    border-color: #F64E60;
    color: #F64E60;
    opacity: 1;
  }
  .onboarding-timeline-offcanvas .CS-v1-card .AP-cards-accordion > .card.CS-v2-issue::before{
    border-color: #F64E60;
  }
  .onboarding-timeline-offcanvas .CS-v1-card .AP-cards-accordion > .card.CS-v2-issue::after {
    background-color: #ffefef;
  }
  .CS-v1-card .AP-cards-accordion .CS-v2-not-started .svg-icon:not(.header-menu .svg-icon) {
    background-color: #F3F6F9;
    border-color: #6B718F;
    color: #6B718F;
    opacity: 1;
  }
  .onboarding-timeline-offcanvas .CS-v1-card .AP-cards-accordion > .card.CS-v2-not-started{opacity:0.35}
  .onboarding-timeline-offcanvas .CS-v1-card .AP-cards-accordion > .card.CS-v2-not-started::after {
    background-color: #F3F6F9;
  }
  .onboarding-timeline-offcanvas .CS-v1-card .AP-cards-accordion > .card.CS-v2-not-started::before{
    border-color: #6B718F;
  }
  .CS-v1-card .AP-cards-accordion .CS-v2-done .svg-icon:not(.header-menu .svg-icon) {
    background-color: #dff7ea;
    border-color: #32D0A5;
    color: #32D0A5;
    opacity: 1;
  }
  .onboarding-timeline-offcanvas .CS-v1-card .AP-cards-accordion > .card.CS-v2-done::after {
    background-color: #dff7ea;
  }
  .onboarding-timeline-offcanvas .CS-v1-card .AP-cards-accordion > .card.CS-v2-done::before{
    border-color: #32D0A5;
  }
  .onboarding-timeline-offcanvas .CS-v1-card .AP-cards-accordion > .card.CS-v2-done:last-child::before {
    border-bottom: 0;
    height: calc(100% + 1px);
  }
  /* primary */
  .CS-v1-card .AP-cards-accordion .CS-v2-primary .svg-icon:not(.header-menu .svg-icon) {
    background-color: #eff7ff;
    border-color: #4785FF;
    color: #4785FF;
    opacity: 1;
  }
  .onboarding-timeline-offcanvas .CS-v1-card .AP-cards-accordion > .card.CS-v2-primary::after {
    background-color: #eff7ff
  }
  .onboarding-timeline-offcanvas .CS-v1-card .AP-cards-accordion > .card.CS-v2-primary::before{
    border-color: #4785FF;
  }
  .onboarding-timeline-offcanvas .CS-v1-card .AP-cards-accordion > .card.CS-v2-primary:last-child::before {
    border-bottom: 0;
    height: calc(100% + 1px);
  }
  /* primary end */
  .CS-v1-card .AP-cards-accordion .CS-v2-ongoing .svg-icon:not(.header-menu .svg-icon) {
    border-color: #EDA313;
    background-color: #FFFAEF;
    color: #EDA313;
    opacity: 1;
  }
  .onboarding-timeline-offcanvas .CS-v1-card .AP-cards-accordion > .card.CS-v2-ongoing::after {
    background-color: #FFFAEF;
  }
  .onboarding-timeline-offcanvas .CS-v1-card .AP-cards-accordion > .card.CS-v2-ongoing::before{
    border-color: #EDA313;
  }
 
 
  .CS-v1-card .AP-cards-accordion > .card::before{
    border-left-style: solid;
  }
  .onboarding-timeline-offcanvas .CS-v1-card .AP-cards-accordion .svg-icon:not(.header-menu .svg-icon){
    left:116px;
    width: 20px;
    height: 20px;
    line-height: 18px;
  }
  .onboarding-timeline-offcanvas .CS-v1-card .AP-cards-accordion > .card::before{
    height: calc(100% - 20px);
    top: 20px;
    left: 126px
  }
  .onboarding-timeline-offcanvas .pl-date-timeline{
    padding-left:155px
  }
  .onboarding-timeline-offcanvas .onboarding-timeline-date{
  position: absolute;
  left: 0;
  top: 1px;
  font-weight:normal;
  line-height: normal;
  font-size: 14px;
}

.job-table-v3-card.onboarding-data-card .create-journey-wrapper-v2 .CJ-right-wrapper {
  width: calc(100% - 200px);
}

.probation-table-filter .border-bottom-tabs-3.border-bottom-tabs li .nav-link{cursor: pointer;}
.card-header .pl-timeline-toggleIcon{
    transition:all 0.1s;
}
.card-header[aria-expanded="true"] .pl-timeline-toggleIcon{
    transform: rotate(180deg);
}
.onboarding-timeline-offcanvas .timeline.timeline-1 .timeline-item .timeline-label{
  flex: 0 0 90px;
  font-weight: normal;
  color: #4c6391;
  font-size: 13px;
}
.onboarding-timeline-offcanvas .timeline.timeline-1 .timeline-sep{
  left: 103px;
}
.onboarding-timeline-offcanvas ~ .offcanvas-overlay{pointer-events:none}