
.ui-v2 .default-arrow-collapse.collapsed::after,
.ui-v2 .default-arrow-collapse::after{
  background-color: transparent;
  color: rgb(107, 114, 128);
}
.ui-v2 .JDv2-KA-accordion-item .JDv2-KA-accordion-item .default-arrow-collapse.collapsed:hover::after{
  background-color: rgba(243, 244, 246, 0.5);
    color:rgb(107, 114, 128);
}
.grid-style-v2 .bg-secondary-o-50 svg[width="18"] {
  height: 14px;
  width: 14px;
}
.grid-style-v2 .font-15{line-height: 20px}
.sc-main-tabs > .JDv2-KA-accordion-item:hover{
  border-color: rgba(11, 100, 244, 0.3) !important;
}
 .hover-rounded-bottom-0:hover {
     border-bottom-left-radius: 0 !important;
     border-bottom-right-radius: 0 !important;
}
.JDv2-KA-accordion-item .bg-hover-lighter:after{
  right:10px;
}