@media (max-width: 1180px) {
	.strategy-list-wrapper .str-list-item{
		max-width: calc(33% - 8px);
  	width: calc(33% - 8px);
	}
}
@media (max-width: 1040px) {
.strategy-list-card .filter-wrapper-v2{flex-wrap: wrap;}
.filter-wrapper-v2 .filter-item-v2{
	width: calc(33.33% - 10px);
  min-width: calc(33.33% - 10px) !important;
  max-width: unset !important;
}
@media (max-width: 1180px) {

@media (max-width: 890px) {
	.strategy-list-wrapper .str-list-item{
		max-width: calc(50% - 8px);
  	width: calc(50% - 8px);
	}
}
@media (max-width: 620px) {
	.strategy-list-wrapper .str-list-item{
		max-width: 100%;
  	width: 100%;
	}
}

