.perKnob-opt-details > *:not(:first-child){
	border-top: solid 1px rgba(0, 0, 0, 0.07);
  padding-top: 10px;
}
.table-matrix-survey-analysis *{
	border-color: rgba(0,0,0,0.04)!important;
}
table.table-matrix-survey-analysis thead > tr > *{
	background-color: #363c48;
  font-size: 14px;
  font-weight: normal;
  line-height: 15px;
  border: 0 !important;
  color: #fff;
}
table.table-matrix-survey-analysis thead > tr > *:first-child{
	border-top-left-radius: 7px;
}
table.table-matrix-survey-analysis thead > tr > *:last-child{
	border-top-right-radius: 7px;
}
table.table-matrix-survey-analysis tbody > tr > *{
	font-size: 13px;
	font-weight: normal;
	background-color: #fff;
}
table.table-matrix-survey-analysis tbody > tr:last-child > *:first-child{
	border-bottom-left-radius: 7px;
	overflow: hidden;
}
table.table-matrix-survey-analysis tbody > tr:last-child > *:last-child{
	border-bottom-right-radius: 7px;
	overflow: hidden;
}
table.table-matrix-survey-analysis tbody > tr > *:first-child{border-left-width: 0}
table.table-matrix-survey-analysis tbody > tr:last-child > *:last-child,
table.table-matrix-survey-analysis tbody > tr > *:last-child{border-right-width: 0!important}
table.table-matrix-survey-analysis tbody > tr:last-child > *{border-bottom-width: 0px}
table.table-matrix-survey-analysis tbody > tr > th{
	max-width: 300px;
}
table.table-matrix-survey-analysis tr i.fa-circle{opacity: 0.4}
.hidden-strength-table tbody td{border:0;padding-top: 7px;padding-bottom: 7px}