.ui-v2 .bg-primary-o-20{background-color: #eff7ff !important}
.ui-v2 .bg-success-o-20{background-color: #edfafa !important}
.ui-v2 .bg-info-o-20{background-color: #f6f1ff !important}
.ui-v2 .bg-warning-o-20{background-color: #fff8eb !important}
.ui-v2 .bg-danger-o-20{background-color: #fef1f3 !important}
.ui-v2 .bg-success-o-10 {
  background-color: #f5ffff !important;
}
.title-banner-v2.workforce-banner {
  background-color: #fff;
  background: linear-gradient(90deg, #e6efff 0%, #f8fbff 40%, #ffffff 100% );
  border-radius: 0;
  margin-top: -25px;
  margin-left: -25px;
  margin-right: 25px;
  padding: 25px;
  min-height:auto;
  width:calc(100% + 50px);
}
.title-banner-v2.workforce-banner:after{display: none;}
.workforce-banner .symbol-light-success{
  background: linear-gradient(
  135deg,
  #4f8cff 0%,
  #5fa8ff 30%,
  #4fd1a5 70%,
  #2ecc71 100%
);
}
.workforce-banner .span-status{
  bottom: 10px;
  right:5px;
}  
.wrapper-with-subtab {
  width: 100%;
}

.subtab-v2-wrapper {
  width: 235px;
  flex-shrink: 0; /* prevents shrinking */
  border-right: solid 1px var(--border-light);
}

.subtab-content-v2 {
  flex: 1; /* 100% - 300px */
  min-width: 0; /* important for overflow */
}
.subtab-v2-wrapper .subTab-v2.nav-pills .nav-item a.nav-link{padding:0.75rem;border-radius: 0.65rem; color:#6b7280;font-weight: normal;}
.subtab-v2-wrapper .subTab-v2.nav-pills .nav-item a.nav-link:hover{background-color: rgb(242, 243, 247); color:#000 !important;}
.subtab-v2-wrapper .subTab-v2.nav-pills .nav-item a.nav-link.active{background-color: #e0e9fa; color:#4785FF !important;font-weight: 500;}
.subtab-v2-wrapper .subTab-v2.nav-pills .nav-item a.nav-link .subTab-arrow{opacity: 0;transition:all 0.2s; transform: translateX(-4px);}
.subtab-v2-wrapper .subTab-v2.nav-pills .nav-item a.nav-link.active .subTab-arrow,
.subtab-v2-wrapper .subTab-v2.nav-pills .nav-item a.nav-link:hover .subTab-arrow{opacity: 1;transform: translateX(0px);}
.subtab-v2-wrapper .subTab-v2.nav-pills .nav-item a.nav-link:hover .subTab-arrow i{color:#999!important}

.wrapper-type1 {
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    135deg,
    #f3f7ff 0%,
    #fff 45%,
    #ffffff 100%
  );
}
.wrapper-type1::after {
  content: "";
  position: absolute;
  top: -40px;
  right: -40px;
  width: 120px;
  height: 120px;
  background: #eef3ff;
  border-radius: 50%;
}
.wrapper-type1::before {
  content: "";
  position: absolute;
  bottom: -35px;
  left: -35px;
  width: 90px;
  height: 90px;
  background: #eef3ff;
  border-radius: 50%;
}
.hover-filter-grayscale-normal:hover .filter-grayscale,
.hover-filter-grayscale-normal:hover {filter: grayscale(0)!important;} 

.heart-right-corner {
  position: absolute;
  top: 35px;
  right: 35px;
  z-index: 1;
  height: 20px;
}
.hidden-external-link {
  opacity: 0;
  height: 0;
  transition: all 0.2s;
}
.item:hover .hidden-external-link{
  height: 14px;
  opacity: 1;
}
.top-right.hidden-external-link{
  position: absolute;
  top:1rem;
  right: 1rem;
}
.success-box {
  border-width: 1px 1px 1px 4px;
  border-style: solid;
  border-color: #c7eeee #c7eeee #c7eeee #32D0A5;
}
.timeline-gradient-primary{
  background-image: linear-gradient(to left, #f6f7f9 , #4785ff);
  height: 1px;
}
.ui-v2 ul.timeline-structure-wrapper > li{padding-left:30px}
.progress .target-line {
  position: absolute;
  top: 0px;
  height: 100%;
  z-index: 0;
}

.progress .target-line::after {
  content: "";
  position: absolute;
  right: -2px;
  height: calc(100% + 4px);
  width: 2px;
  background-color: #ccd4e1;
  top: -2px;
}
.ui-v2 .timeline-structure-wrapper::before{
  border-left: 0;
  background-image: linear-gradient(to top, #e1f0ff , #4785ff);
  width: 1px;
}
.flat-table thead td{
  font-weight: 500;
  font-size: 0.85rem;
}
.table.flat-table th, 
.table.flat-table td{padding: 0.5rem;}
.table.flat-table td{border:0}
.table.flat-table .bg-light-success {
  background-color: #effff6 !important;
}
.ui-v2 .table.flat-table .border-light-warning {
  border-color: #FFE6B4 !important;
}
.table.flat-table .text-success {
  color: #2AB58F !important;
}
.table.flat-table .text-warning {
  color: #EA9A00 !important;
}
.ui-v2 .heatmap-toolkit-inner tr td, 
.ui-v2 .heatmap-toolkit-inner tr th{border:0}
.ui-v2 .heatmap-toolkit-inner tbody tr:first-child > *:not(:first-child) {
  width: 33.33%;
}
.ui-v2 .heatmap-toolkit-inner .table{table-layout: fixed;}
.ui-v2 .heatmap-toolkit-inner tbody tr > *:first-child {
  width: 50px;
}
.ui-v2-heatmap .ui-v2-heatmap-user{
  position: absolute;
  right: -5px;
  top: -5px;
}
.ui-v2-heatmap .heatmap-toolkit-inner .table-responsive {
  position: relative;
  padding: 0px 5px 5px 0px !important;
}
.label.label-inline{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  line-height: normal;
}