<!--begin::Toast Notification-->
<div class="added-toast border shadow-sm">
  <div class="d-flex align-items-center gap-10">
    <div class="d-flex align-items-center justify-content-center bg-light-success rounded-circle" style="width:35px;height:35px;">
      <i class="flaticon2-check-mark text-success icon-sm"></i>
    </div>
    <span class="">Changes Saved Successfully.</span>
  </div>
  <i class="flaticon2-cross close close1 icon-sm text-muted"></i>
  <div class="progress progress1 progress-success"></div>
</div>
<!--end::Toast Notification-->
