@media (min-width: 1380px) {
    body .SA-form-flex .nav .nav-link{font-size: 15px;}
}
body .SA-form-flex .nav .nav-link{font-size: 14px;}
.ICD-assessment-wrapper .ICD-assessment-item{border: solid 1px #fff;}
.ICD-assessment-wrapper .ICD-assessment-item:hover {
    box-shadow: 0px 0px 12px rgba(97, 97, 97, 0.22);
    background-color: #fff !important;
    border: solid 1px var(--border-light-primary-v2);
  }
.show-on-hover{opacity:0;transition: all 0.2s;}
.ICD-assessment-item:hover .show-on-hover{opacity:1}
.JDv2-KA-accordion-item div[data-toggle="collapse"]::after {
    right: 5px;
    top: 8px;
    width: 27px;
    height: 27px;
    background-color: #fff;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border: solid 1px #93B5FA;
    color: #9bf;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.12);
  }
  .JDv2-KA-accordion .JDv2-KA-accordion-item:not(:first-child) {
    border-top: solid 1px var(--border-light);
  }
  .owl-top-right.owl-bottom-center .owl-prev{
    top: unset;
    left: calc(50% - 15px);
    right: unset;
  }
  .owl-top-right.owl-bottom-center .owl-next{
    top: unset;
    left: calc(50% + 15px);
    right: unset;
  }
  .catalog-featured-assessments.ICD-assessment-wrapper .ICD-assessment-item{
    width: calc(33% - 7px);
    margin: 0;
  }

  .MP-assessment-wrapper .tile-v2 {
  width: calc(25% - 15px);
  max-width: calc(25% - 13px);
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
@media (min-width: 1480px) {
.MP-assessment-wrapper .tile-v2 {
  width: calc(20% - 16px);
  max-width: calc(20% - 16px);
}
}
 .assessment-list-drawer .MP-assessment-wrapper .tile-v2 {
  width: calc(50% - 15px);
  max-width: calc(50% - 13px);
}
 .featured-assessment-wrapper.MP-assessment-wrapper .tile-v2 {
  width: calc(33.33% - 15px);
  max-width: calc(33.33% - 13px);
}
.tile-v2 {
  box-shadow: 0px 0px 7.90034px rgba(97, 97, 97, 0.12);
  border-radius: 3.95017px;
  padding: 15px 15px 15px 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  transition: all 0.2s;
}
.tile-v2:hover {
  box-shadow: 0px 0px 12px rgba(97, 97, 97, 0.24);
}