@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
html body, p{font-family: "Noto Sans", sans-serif!important;}
h1, h2, h3, h4, h5, h6, 
.h1, .h2, .h3, .h4, .h5, .h6 {
  /*font-weight: 600 !important;*/
  line-height: 1.5!important;
}

.CMA-top-left {
  width: 250px;
  background-color: #fff;
  position: relative;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.CMA-top-per {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.CMA-MB-item{
  border-radius: 13px;
  background-color: #fff;
  box-shadow: 0px 3px 7px rgba(0,0,0,0.06);
  transition: all 0.2s;
}
.bg-main-section {
  background-color: #F5F8FF;
}
.three-tiles-flex > *{
  width: calc(33.33% - 10px);
}
.four-tiles-flex > *{
  width: calc(25% - 12px);
}
@media (max-width: 1280px) {
.three-tiles-flex > *{
  width: calc(50% - 8px);
}
.four-tiles-flex > *{
  width: calc(33.33% - 10px);
}
}