.MJ-key-policy-list .MJ-KP-item {
    width: calc(25% - 15px);
    border-radius: 7px;
  min-height: 85px;
  transition: all 0.1s;
  text-align: center;
  background-size: cover;
  background-position: top;
  position:relative;
  }
  .MJ-key-policy-list .MJ-KP-item:hover{
    box-shadow: 0px 2px 5px rgba(0,0,0,0.12);
  }
  .MJ-KP-item.bg-danger-o-20 span.label{
    opacity: 0;
    transition: all 0.1s;
    position: absolute;
    top: 5px;
    right: 5px;
  }
  .MJ-KP-item.bg-danger-o-20:hover span.label{
    opacity: 1;
  }
  .cjcourse-search-list-wrapper .cj-course-item {
    width: calc(33.33% - 14px);
  }
  .how-to-develop .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.08);
  }
  .assessment-pending-tile:not(:hover){
    filter: grayscale(1);
  }
  .cjcourse-search-list-wrapper .cj-course-item{
    background-color:#fff
  }
  .kanban-summary-box{
    margin-bottom: 20px;
  height: calc(100% - 20px);
  }
  .jd-project-cards .MTC-title > *{
    display:inline-block!important;
    position:relative;
}
.jd-project-cards .MTC-title > *:after{
    content:"";
    width:0px;
    height:1px;
    transition:all 0.5s;
    position:absolute;
    left:0;
    bottom:-1px;
    background-color: currentcolor;
}
.milestone-table-card:hover .MTC-title > *:after,
.jd-project-cards .MTC-title > *:hover:after{
    width:100%;
}
.jd-mentor-list .jd-mentor-tile,
.ICD-assessment-wrapper .ICD-assessment-item{
  margin: 0;
  width: calc(50% - 10px);
  background-color: #fff;
}
.SV2KR-item.SV2KR-item-dark {
  background-color: #03396c;
  color: #fff;
}
.SV2KR-item.SV2KR-item-dark .progress ~ .text-nowrap,
.SV2KR-item.SV2KR-item-dark .data-sub-title,
.SV2KR-item.SV2KR-item-dark .SV2KR-title.text-black,
.strategy-accordion-arrow_v2 .text-black {
 color: #fff!important;
}
.SV2KR-item.SV2KR-item-dark .filter-brightness1 {
  filter: brightness(100)!important;
}
.TP-card{width:calc(33.33% - 10px);position:relative;overflow: hidden;}
.TP-card:hover {
  opacity: 1;
  background-color: #fff !important;
  border-color: var(--border-light-primary-v2) !important;
}
.JLv2-actions-wrapper {
  width: 0;
  overflow: hidden;
  transition: all 0.2s;
  position: absolute;
  right: -20px;
  pointer-events: none;
  height: 26px;
  background-color: #fbfdff;
  border-radius: 100px;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
  justify-content: center;
  align-items: center;
  visibility: hidden;
  top:9px;
}
.TP-card:hover .JLv2-actions-wrapper {
  width: 55px;
  border: solid 1px var(--border-light-primary-v2);
  right: 23px;
  pointer-events: auto;
  visibility: visible;
}
.add-skill-drawer .irs-min, 
.add-skill-drawer .irs-max {
    display: none !important;
  }
.add-skill-drawer .irs--round .irs-from, 
.add-skill-drawer .irs--round .irs-to, 
.add-skill-drawer .irs--round .irs-single{
  font-size: 12px;
}
.add-skill-drawer{max-width:500px;width: 100%}
.add-skill-drawer.offcanvas.offcanvas-right:not(.offcanvas-on){right:-100%}
.flex-1{flex:1}