
@media only screen and (min-width: 1701px) {
    body .strategy-list-wrapper .str-list-item{
        max-width: 20%;
        width: calc(20% - 25px);
    }
}
@media only screen and (max-width: 1380px) {
    body .strategy-list-wrapper .str-list-item{
        max-width: calc(33% - 15px);
        width: calc(33% - 18px);
    }
}
@media only screen and (max-width: 1024px) {
    body .strategy-list-wrapper .str-list-item{
        max-width: calc(50% - 15px);
        width: calc(50% - 18px);
    }
}
@media only screen and (max-width: 1200px) {
    body .filter-wrapper-v2{
        flex-wrap:wrap;
    }
    body .filter-wrapper-v2 .filter-item-v2 {
        max-width: 50% !important;
        width: calc(50% - 20px);
        align-self: end;
      }
}
@media only screen and (max-width: 991px) {
    body .filter-wrapper-v2 .filter-item-v2 {
        max-width: 33.33% !important;
        width: calc(33.33% - 20px);
      }
      body .daterangepicker.show-calendar .ranges{
        height:auto;
      }
      .SA-form-flex.min-w-250px.configuration-tab-v2 {
        min-width: 210px !important;
      }
      body .kanban-config-card .config-card-right {
        max-width: calc(100% - 211px);
      }
      .str-config-levels-custom.str-config-levels .SCL-level-desc.inline-editable-div.bb{
        min-width: calc(100% - 180px) !important;
      }
}
@media screen and (min-width: 930px) and (max-width: 992px) { 
    body .strategy-list-wrapper .str-list-item{
        max-width: calc(33% - 15px);
        width: calc(33% - 18px);
    }
}
@media only screen and (max-width: 680px) { 
    body .strategy-list-wrapper .str-list-item{
        max-width: calc(100% - 0px);
        width: calc(100% - 0px);
    }
    .strategy-list-card .border-bottom-tabs-3{
        gap: 20px;
        flex-direction: column;
    }
    .strategy-list-card .border-bottom-tabs-3 .scroll-tab-parent{
        width:100%!important
    }
    body .filter-wrapper-v2 .filter-item-v2 {
        max-width: 50% !important;
        width: calc(50% - 20px);
    }
}
@media only screen and (max-width: 767px) {
    .kanban-summary-wrapper .col-md-6 .kanban-summary-box{
        margin-bottom: 25px;
    height: calc(100% - 25px);
    }
}

@media only screen and (max-width: 575px) {
    .kanban-summary-wrapper .col-md-6{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    body .filter-wrapper-v2 .filter-item-v2 {
        max-width: 100% !important;
        width: calc(100% - 0px);
      }
}