@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
:root {
	 --border-light-primary-v2: #c3d4f6;
	 --border-light-v2: #f0f4ff;
}
 .font-zilla {
	 font-family: "Zilla Slab", serif;
}
 .hrms-accordion-wrapper {
	 font-size: 14px !important;
	 font-weight: 400;
	 font-family: 'Ubuntu', sans-serif;
}

 .hrms-accordion-wrapper .off-toolkit-wrapper {
	 margin: 0px;
}
 .hrms-accordion-wrapper .w-100 {
	 width: 100% !important;
}
 .hrms-accordion-wrapper .create-journey-wrapper-v2 .SA-form-flex {
	 transition: all 0.3s;
}
 .hrms-accordion-wrapper .min-w-260px {
	 min-width: 260px !important;
}
 .hrms-accordion-wrapper .max-w-260px {
	 max-width: 260px !important;
}
 .hrms-accordion-wrapper .rounded-lg {
	 border-radius: 0.85rem !important;
}
 .hrms-accordion-wrapper .pb-4, .hrms-accordion-wrapper .py-4 {
	 padding-bottom: 1rem !important;
}
 .hrms-accordion-wrapper .pl-2, .hrms-accordion-wrapper .px-2 {
	 padding-left: 0.5rem !important;
}
 .hrms-accordion-wrapper .pb-2 {
	 padding-bottom: 0.5rem !important;
}
 .hrms-accordion-wrapper .mt-2, .hrms-accordion-wrapper .my-2 {
	 margin-top: 0.5rem !important;
}
 .hrms-accordion-wrapper .pl-4, .hrms-accordion-wrapper .px-4 {
	 padding-left: 1rem !important;
}
 .hrms-accordion-wrapper .pr-4, .hrms-accordion-wrapper .px-4 {
	 padding-right: 1rem !important;
}
 .hrms-accordion-wrapper .pt-4, .hrms-accordion-wrapper .py-4 {
	 padding-top: 1rem !important;
}
 .hrms-accordion-wrapper .mb-7, .hrms-accordion-wrapper .my-7 {
	 margin-bottom: 1.75rem !important;
}
 .hrms-accordion-wrapper .pt-4 {
	 padding-top: 1.5rem !important;
}
 .hrms-accordion-wrapper .px-4 {
	 padding-right: 1.5rem !important;
	 padding-left: 1.5rem !important;
}
 .hrms-accordion-wrapper .gap-15 {
	 gap: 15px;
}
 .hrms-accordion-wrapper .gap-5 {
	 gap: 5px !important;
}
 .hrms-accordion-wrapper .mb-3, .hrms-accordion-wrapper .my-3 {
	 margin-bottom: 0.75rem !important;
}
 .hrms-accordion-wrapper .nav {
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -ms-flex-wrap: wrap;
	 flex-wrap: wrap;
	 padding-left: 0;
	 margin-bottom: 0;
	 list-style: none;
}
 .hrms-accordion-wrapper .ps-container > .ps-scrollbar-x-rail {
	 opacity: 0.3 !important;
}
 .hrms-accordion-wrapper .ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x {
	 background-color: #bfc7d0 !important;
	 height: 4px !important;
}
 .hrms-accordion-wrapper .ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y, .hrms-accordion-wrapper .ps-container > .ps-scrollbar-y-rail {
	 width: 4px !important;
}
 .hrms-accordion-wrapper .ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
	 background-color: #dae1e8 !important;
}
 .hrms-accordion-wrapper .ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y, .hrms-accordion-wrapper .ps-container > .ps-scrollbar-y-rail {
	 width: 4px !important;
}
 .hrms-accordion-wrapper .text-dark {
	 color: #2b345f !important;
}
 .hrms-accordion-wrapper .mr-auto, .hrms-accordion-wrapper .mx-auto {
	 margin-right: auto !important;
}
 .hrms-accordion-wrapper .mb-0, .hrms-accordion-wrapper .my-0 {
	 margin-bottom: 0 !important;
}
 .hrms-accordion-wrapper h1, .hrms-accordion-wrapper h2, .hrms-accordion-wrapper h3, .hrms-accordion-wrapper h4, .hrms-accordion-wrapper h5, .hrms-accordion-wrapper h6, .hrms-accordion-wrapper .h1, .hrms-accordion-wrapper .h2, .hrms-accordion-wrapper .h3, .hrms-accordion-wrapper .h4, .hrms-accordion-wrapper .h5, .hrms-accordion-wrapper .h6 {
	 margin-bottom: 0.5rem;
	 font-weight: 500;
	 line-height: 1.2;
}
 .hrms-accordion-wrapper h1, .hrms-accordion-wrapper h2, .hrms-accordion-wrapper h3, .hrms-accordion-wrapper h4, .hrms-accordion-wrapper h5, .hrms-accordion-wrapper h6 {
	 margin-top: 0;
	 margin-bottom: 0.5rem;
}
 .hrms-accordion-wrapper .btn {
	 outline: none !important;
	 vertical-align: middle;
	 -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
	 transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
	 transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
	 transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
}
 .hrms-accordion-wrapper .line-height-0 {
	 line-height: 0;
}
 .hrms-accordion-wrapper button::-moz-focus-inner, .hrms-accordion-wrapper [type="button"]::-moz-focus-inner, .hrms-accordion-wrapper [type="reset"]::-moz-focus-inner, .hrms-accordion-wrapper [type="submit"]::-moz-focus-inner {
	 padding: 0;
	 border-style: none;
}
 .hrms-accordion-wrapper .btn:not(:disabled):not(.disabled) {
	 cursor: pointer;
}
 .hrms-accordion-wrapper .p-0 {
	 padding: 0 !important;
}
 .hrms-accordion-wrapper .btn {
	 display: inline-block;
	 font-weight: normal;
	 color: rgba(63, 66, 84, 0.9);
	 text-align: center;
	 vertical-align: middle;
	 -webkit-user-select: none;
	 -moz-user-select: none;
	 -ms-user-select: none;
	 user-select: none;
	 background-color: transparent;
	 border: 1px solid transparent;
	 padding: 0.65rem 1.35rem;
	 font-size: 1.1rem;
	 line-height: 1.5;
	 border-radius: 0.35rem;
	 -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
	 transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
	 transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
	 transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}
 .hrms-accordion-wrapper .btn i {
	 vertical-align: middle;
	 line-height: 1;
	 display: -webkit-inline-box;
	 display: -ms-inline-flexbox;
	 display: inline-flex;
}
 .hrms-accordion-wrapper .font-22 {
	 font-size: 22px;
}
 .hrms-accordion-wrapper .filter-wrapper-v2 {
	 gap: 12px;
}
 .hrms-accordion-wrapper .border-light-primary {
	 border-color: #e1f0ff !important;
}
 .hrms-accordion-wrapper .input-group {
	 position: relative;
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -ms-flex-wrap: wrap;
	 flex-wrap: wrap;
	 -webkit-box-align: stretch;
	 -ms-flex-align: stretch;
	 align-items: stretch;
	 width: 100%;
}
 .hrms-accordion-wrapper .input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n+3), .hrms-accordion-wrapper .input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
	 border-top-right-radius: 0;
	 border-bottom-right-radius: 0;
}
 .hrms-accordion-wrapper .input-group-prepend {
	 margin-right: -1px;
}
 .hrms-accordion-wrapper .input-group-prepend, .hrms-accordion-wrapper .input-group-append {
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
}
 .hrms-accordion-wrapper .input-group > .input-group-prepend > .btn, .hrms-accordion-wrapper .input-group > .input-group-prepend > .input-group-text, .hrms-accordion-wrapper .input-group > .input-group-append:not(:last-child) > .btn, .hrms-accordion-wrapper .input-group > .input-group-append:not(:last-child) > .input-group-text, .hrms-accordion-wrapper .input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle), .hrms-accordion-wrapper .input-group > .input-group-append:last-child > .input-group-text:not(:last-child) {
	 border-top-right-radius: 0;
	 border-bottom-right-radius: 0;
}
 .hrms-accordion-wrapper .input-group-sm > .form-control, .hrms-accordion-wrapper .input-group-sm > .custom-select, .hrms-accordion-wrapper .input-group-sm > .input-group-prepend > .input-group-text, .hrms-accordion-wrapper .input-group-sm > .input-group-append > .input-group-text, .hrms-accordion-wrapper .input-group-sm > .input-group-prepend > .btn, .hrms-accordion-wrapper .input-group-sm > .input-group-append > .btn {
	 padding: 0.55rem 0.75rem;
	 padding-top: 0.55rem;
	 padding-right: 0.75rem;
	 padding-bottom: 0.55rem;
	 font-size: 0.925rem;
	 line-height: 1.35;
	 border-radius: 0.28rem;
	 border-top-right-radius: 0.28rem;
	 border-bottom-right-radius: 0.28rem;
}
 .hrms-accordion-wrapper .border-light-primary-v2 {
	 border-color: var(--border-light-primary-v2) !important;
}
 .hrms-accordion-wrapper .tagify__input::before, .hrms-accordion-wrapper .form-control::placeholder {
	 color: #a3acc6;
	 opacity: 1 !important;
}
 .hrms-accordion-wrapper .input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
	 margin-left: -1px;
	 border-top-left-radius: 0;
	 border-bottom-left-radius: 0;
}
 .hrms-accordion-wrapper .input-group-append {
	 margin-left: -1px;
}
 .hrms-accordion-wrapper .input-group-prepend, .hrms-accordion-wrapper .input-group-append {
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
}
 .hrms-accordion-wrapper .create-journey-wrapper-v2 .CJ-right-wrapper {
	 width: calc(100% - 260px);
	 transition: all 0.1s;
}
 .hrms-accordion-wrapper .job-table-v3-card .SA-form-flex .nav .nav-link.active::after {
	 right: 15px;
}
 .hrms-accordion-wrapper .SA-form-flex .nav .nav-link.active::after, .hrms-accordion-wrapper .add-align-assign-wrapper .AAAW-left .nav .nav-link.active::after {
	 content: "";
	 font-family: "Line Awesome Free";
	 font-weight: 900;
	 color: #4785ff;
	 margin-left: auto;
	 position: absolute;
	 right: 0;
	 top: 50%;
	 transform: translateY(-50%);
}
 .hrms-accordion-wrapper .SA-form-flex .nav .nav-link.active::before, .hrms-accordion-wrapper .add-align-assign-wrapper .AAAW-left .nav .nav-link.active::before {
	 width: 100%;
	 background-color: #4785ff;
}
 .hrms-accordion-wrapper .SA-form-flex .nav .nav-link::before, .hrms-accordion-wrapper .add-align-assign-wrapper .AAAW-left .nav .nav-link::before {
	 content: "";
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 width: 0;
	 height: 1px;
	 transition: 0.3s;
}
 .hrms-accordion-wrapper .before-none::before {
	 display: none !important;
}
 .hrms-accordion-wrapper .job-table-v3-card .SA-form-flex .nav .nav-link.active {
	 background-color: #f0f5ff;
	 border-radius: 10px 0 0 10px !important;
}
.hrms-accordion-wrapper .SA-form-flex .nav .nav-item .nav-link:not(.nav-item:last-child .nav-link):not(.active):not(.collapse-SAF-subchild-list .nav-link)::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 1px;
	width: calc(100% - 25px);
	border-bottom: solid 1px var(--border-light-v2);
	display: block !important;
  }
.hrms-accordion-wrapper .SA-form-flex .nav .nav-link {
	 position: relative;
	 padding: 15px 15px 15px 3px;
	 font-weight: 400;
	 font-size: 15px;
}
 .hrms-accordion-wrapper .create-journey-wrapper.job-table-v3-card .SA-form-flex .nav .nav-link:not(.collapse-SAF-tabs-list .nav-link), .hrms-accordion-wrapper .job-table-v3-card .SA-form-flex .nav .nav-link {
	 padding: 25px 35px 25px 20px;
	 border: none !important;
	 border-radius: 10px 0 0 10px !important;
}
 .hrms-accordion-wrapper .border-x-0 {
	 border-left: 0 !important;
	 border-right: 0 !important;
}
 .hrms-accordion-wrapper .pr-0, .hrms-accordion-wrapper .px-0 {
	 padding-right: 0 !important;
}
 .hrms-accordion-wrapper .input-group-sm > .form-control, .hrms-accordion-wrapper .input-group-sm > .custom-select, .hrms-accordion-wrapper .input-group-sm > .input-group-prepend > .input-group-text, .hrms-accordion-wrapper .input-group-sm > .input-group-append > .input-group-text, .hrms-accordion-wrapper .input-group-sm > .input-group-prepend > .btn, .hrms-accordion-wrapper .input-group-sm > .input-group-append > .btn {
	 padding: 0.55rem 0.75rem;
	 font-size: 0.925rem;
	 line-height: 1.35;
	 border-radius: 0.28rem;
}
 .hrms-accordion-wrapper .input-group > .form-control:focus, .hrms-accordion-wrapper .input-group > .custom-select:focus, .hrms-accordion-wrapper .input-group > .custom-file .custom-file-input:focus ~ .custom-file-label {
	 z-index: 3;
}
 .hrms-accordion-wrapper .form-control:active, .hrms-accordion-wrapper .form-control.active, .hrms-accordion-wrapper .form-control:focus, .hrms-accordion-wrapper .form-control.focus {
	 -webkit-box-shadow: none !important;
	 box-shadow: none !important;
}
 .hrms-accordion-wrapper .form-control:focus {
	 color: rgba(63, 66, 84, 0.9);
	 background-color: #fff;
	 border-color: #69b3ff;
	 outline: 0;
}
 .hrms-accordion-wrapper .min-w-115px {
	 min-width: 115px !important;
}
 .hrms-accordion-wrapper .btn:focus:not(.btn-shadow):not(.btn-shadow-hover) {
	 -webkit-box-shadow: none !important;
	 box-shadow: none !important;
}
 .hrms-accordion-wrapper .btn:hover:not(.btn-text), .hrms-accordion-wrapper .btn:focus:not(.btn-text), .hrms-accordion-wrapper .btn.focus {
	 -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
	 transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
	 transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
	 transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
}
 .hrms-accordion-wrapper .SA-form-flex .nav .nav-link.active .default-arrow-collapse::after {
	 color: #4785ff !important;
	 opacity: 0.5;
}
 .hrms-accordion-wrapper .CJL-task-group ~ div .default-arrow-collapse::after, .hrms-accordion-wrapper .SA-form-flex .SAF-tabs ul.nav li .default-arrow-collapse::after {
	 font-size: 11px;
}
 .hrms-accordion-wrapper .AC-cluster-collapse.collapsed::after, .hrms-accordion-wrapper .default-arrow-collapse.collapsed::after, .hrms-accordion-wrapper .recent-tasks-collapse.collapsed::after {
	 transform: rotate(-90deg);
}
 .hrms-accordion-wrapper .AC-cluster-collapse.collapsed::after, .hrms-accordion-wrapper .default-arrow-collapse::after, .hrms-accordion-wrapper .recent-tasks-collapse::after {
	 content: "\f1be";
	 font-family: Flaticon2;
	 font-style: normal;
	 font-weight: normal;
	 position: absolute;
	 right: 8px;
	 top: 0px;
	 color: #a7a9b1;
	 transform: rotate(90deg);
	 font-size: 14px;
	 transition: all 0.3s;
}
 .hrms-accordion-wrapper .h-20px {
	 height: 20px !important;
}
 .hrms-accordion-wrapper .w-20px {
	 width: 20px !important;
}
 .hrms-accordion-wrapper .p-0 {
	 padding: 0 !important;
}
 .hrms-accordion-wrapper .gap-10 {
	 gap: 10px;
}
 .hrms-accordion-wrapper .gap-20 {
	 gap: 20px;
}
 .hrms-accordion-wrapper .SA-form-flex .nav .nav-item div ~ .d-flex.justify-content-between {
	 transition: all 0.3s ease;
	 height: 0;
	 overflow: hidden;
}
 .hrms-accordion-wrapper .SA-form-flex .nav .nav-item:hover div ~ .d-flex.justify-content-between {
	 height: 36.5px;
}
 .hrms-accordion-wrapper .SA-form-flex .nav .nav-link:not(.nav-link.active), .hrms-accordion-wrapper .add-align-assign-wrapper .AAAW-left .nav .nav-link:not(.nav-link.active) {
	 color: #2b345f !important;
}
 .hrms-accordion-wrapper .mt-4, .hrms-accordion-wrapper .my-4 {
	 margin-top: 1rem !important;
}
 .hrms-accordion-wrapper .SA-form-flex .SAF-tabs ul.nav li > .collapse-SAF-tabs-list > ul {
	 margin-left: 21px;
	 padding-left: 15px;
	 display: flex;
	 flex-direction: column;
	 gap: 12px 8px;
	 position: relative;
}
 .hrms-accordion-wrapper .collapse-SAF-tabs-list > ul > li::before, 
 .hrms-accordion-wrapper .SA-form-flex .SAF-tabs ul.nav li > .collapse-SAF-tabs-list > ul::before {
	 border-color: var(--border-light-primary-v2) !important;
}
.hrms-accordion-wrapper .SA-form-flex .SAF-tabs ul.nav li > .nav-link.active ~ .collapse-SAF-tabs-list > ul::before {
	bottom: -10px!important;
}
 .hrms-accordion-wrapper .SA-form-flex .SAF-tabs ul.nav li > .nav-link ~ .collapse-SAF-tabs-list > ul::before {
	 content: "";
	 position: absolute;
	 left: 0px;
	 top: -15px;
	 border-left: solid 1px var(--border-light-v2);
	 bottom: -24px!important;
}
 
 .hrms-accordion-wrapper .SA-form-flex .SAF-tabs ul.nav li > .collapse-SAF-tabs-list > ul li a.active {
	 margin-right: 0px;
	 border-radius: 10px 0 0 10px !important;
}
 .hrms-accordion-wrapper .collapse-SAF-tabs-list > ul > li::before, .hrms-accordion-wrapper .SA-form-flex .SAF-tabs ul.nav li > .collapse-SAF-tabs-list > ul::before {
	 border-color: var(--border-light-primary-v2) !important;
}
 .hrms-accordion-wrapper .collapse-SAF-tabs-list > ul > li::before {
	 content: "";
	 position: absolute;
	 left: -15px;
	 width: 15px !important;
	 top: 50%;
	 border-radius: 10px;
	 border-bottom: solid 1px var(--border-light-v2);
	 z-index: -1;
	 bottom: unset;
}
 .hrms-accordion-wrapper .collapse-SAF-tabs-list > ul > li::before, .hrms-accordion-wrapper .SA-form-flex .SAF-tabs ul.nav li > .collapse-SAF-tabs-list > ul::before {
	 border-color: var(--border-light-primary-v2) !important;
}
 .hrms-accordion-wrapper .collapse-SAF-tabs-list > ul > li::before {
	 content: "";
	 position: absolute;
	 left: -15px;
	 width: 15px !important;
	 top: 50%;
	 border-radius: 10px;
	 border-bottom: solid 1px var(--border-light-v2);
	 z-index: -1;
	 bottom: unset;
}
 .hrms-accordion-wrapper .SA-form-flex .SAF-tabs ul.nav li > .collapse-SAF-tabs-list > ul li a.nav-link::before {
	 content: "";
	 position: absolute;
	 left: -10px;
	 width: 10px !important;
	 top: 50%;
	 border-radius: 10px;
	 border-bottom: solid 1px var(--border-light-v2);
	 z-index: -1;
	 bottom: unset;
}
 .hrms-accordion-wrapper .SA-form-flex .nav .nav-link::before, .hrms-accordion-wrapper .add-align-assign-wrapper .AAAW-left .nav .nav-link::before {
	 content: "";
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 width: 0;
	 height: 1px;
	 transition: 0.3s;
}
 .hrms-accordion-wrapper .SAF-tabs ul.nav li, .hrms-accordion-wrapper .config-tabs-left .nav-item {
	 position: relative;
}
 .hrms-accordion-wrapper .SA-form-flex .SAF-tabs ul.nav li > .collapse-SAF-tabs-list > ul li a {
	 background-color: rgba(228, 237, 255, 0.3);
	 margin-right: 10px;
	 border-radius: 10px !important;
	 transition: all 0.2s;
}
 .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer {
	 width: calc(33.33% - 14px);
	 max-width: calc(33.33% - 14px);
	 min-height: 200px;
	 position: relative;
}
 @media only screen and (max-width: 1480px) {
	 .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer {
		 width: calc(50% - 14px);
		 max-width: calc(50% - 14px);
	}
}
 .hrms-accordion-wrapper .font-zilla {
	 font-family: "Zilla Slab", serif;
}
 .hrms-accordion-wrapper h3, .hrms-accordion-wrapper .h3 {
	 font-size: 1.5rem;
}
 .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer .handbook-tile-header a h3 {
	 position: relative;
}
 .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer .handbook-tile-header a h3::after, .hrms-accordion-wrapper .str-item-title::after, .hrms-accordion-wrapper .title-hover-effect::after {
	 content: "";
	 width: 0px;
	 height: 1px;
	 transition: all 0.5s;
	 position: absolute;
	 left: 0;
	 bottom: -1px;
	 background-color: currentcolor;
}
 .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer {
	 width: calc(33.33% - 14px);
	 max-width: calc(33.33% - 14px);
	 position: relative;
}
 @media (min-width: 1580px) {
	 .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer {
		 width: calc(25% - 15px);
	}
}
 .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer .handbook-tile-item {
	 position: relative;
	 padding: 10px;
	 height: 100%;
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 box-shadow: 0px 0px 8px rgba(97, 97, 97, 0.12);
	 border-radius: 12px;
	 border: solid 1px #fff;
	 transition: all 0.2s;
}
 .hrms-accordion-wrapper .handbook-tile-item-outer .handbook-tile-item {
	 background-size: cover;
	 background-position: center center;
	 border: 0 !important;
}
 .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer .handbook-tile-item:hover {
	 box-shadow: 0px 3px 10px rgba(97, 97, 97, 0.17);
}
 .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer .handbook-tile-item .handbook-tile-looper-bg {
	 position: absolute;
	 right: 0;
	 bottom: 0;
}
 .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer input ~ .handbook-tile-item .checkbox span {
	 background-color: transparent;
}
 .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer input ~ .handbook-tile-item .checkbox span:after {
	 display: none !important;
}
 .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer input:checked ~ .handbook-tile-item .checkbox span:before {
	 content: "";
	 font-family: "Line Awesome Free";
	 font-weight: 900;
	 position: absolute;
	 left: 50%;
	 top: 50%;
	 transform: translate(-50%, -50%);
	 font-size: 12px;
	 color: #2b345f;
}
 .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer:nth-child(6n+1) .handbook-tile-item {
	 background-color: #fff0e9;
	 border-color: #fff0e9;
}
 .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer:nth-child(6n+1) input:checked ~ .handbook-tile-item, .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer:nth-child(6n+1) .handbook-tile-item .btn-handbook-share svg path {
	 fill: #a7745e;
}
 .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer:nth-child(6n+1) .handbook-tile-footer .symbol .symbol-label svg path {
	 stroke: #a7745e;
}
 .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer:nth-child(6n+1) .handbook-tile-item .handbook-tile-looper-bg svg path {
	 stroke: #ffd4c2 !important;
}
 .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer:nth-child(6n+1) .handbook-tile-footer .symbol .symbol-label, .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer:nth-child(6n+1) .handbook-tile-item .btn-handbook-share, .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer:nth-child(6n+2) .handbook-tile-item {
	/* tile 2 */
	 background-color: #e6fff4;
	 border-color: #e6fff4;
}
 .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer:nth-child(6n+2) input:checked ~ .handbook-tile-item, .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer:nth-child(6n+2) .handbook-tile-item .btn-handbook-share svg path {
	 fill: #5fa183;
}
 .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer:nth-child(6n+2) .handbook-tile-footer .symbol .symbol-label svg path {
	 stroke: #5fa183;
}
 .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer:nth-child(6n+2) .handbook-tile-item .handbook-tile-looper-bg svg path {
	 stroke: #b1ffdc !important;
}
 .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer:nth-child(6n+2) .handbook-tile-footer .symbol .symbol-label, .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer:nth-child(6n+2) .handbook-tile-item .btn-handbook-share, .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer:nth-child(6n+3) .handbook-tile-item {
	/* tile 3 */
	 background-color: #ffe8fd;
	 border-color: #ffe8fd;
}
 .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer:nth-child(6n+3) input:checked ~ .handbook-tile-item, .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer:nth-child(6n+3) .handbook-tile-item .btn-handbook-share svg path {
	 fill: #b16eaa;
}
 .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer:nth-child(6n+3) .handbook-tile-footer .symbol .symbol-label svg path {
	 stroke: #b16eaa;
}
 .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer:nth-child(6n+3) .handbook-tile-item .handbook-tile-looper-bg svg path {
	 stroke: #ffc1f9 !important;
}
 .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer:nth-child(6n+3) .handbook-tile-footer .symbol .symbol-label, .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer:nth-child(6n+3) .handbook-tile-item .btn-handbook-share, .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer:nth-child(6n+4) .handbook-tile-item {
	/* tile 4 */
	 background-color: #f4eaff;
	 border-color: #f4eaff;
}
 .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer:nth-child(6n+4) input:checked ~ .handbook-tile-item, .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer:nth-child(6n+4) .handbook-tile-item .btn-handbook-share svg path {
	 fill: #9070b3;
}
 .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer:nth-child(6n+4) .handbook-tile-footer .symbol .symbol-label svg path {
	 stroke: #9070b3;
}
 .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer:nth-child(6n+4) .handbook-tile-item .handbook-tile-looper-bg svg path {
	 stroke: #e5ceff !important;
}
 .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer:nth-child(6n+4) .handbook-tile-footer .symbol .symbol-label, .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer:nth-child(6n+4) .handbook-tile-item .btn-handbook-share, .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer:nth-child(6n+5) .handbook-tile-item {
	/* tile 5 */
	 background-color: #ecf9ff;
	 border-color: #ecf9ff;
}
 .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer:nth-child(6n+5) input:checked ~ .handbook-tile-item, .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer:nth-child(6n+5) .handbook-tile-item .btn-handbook-share svg path {
	 fill: #6797ab;
}
 .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer:nth-child(6n+5) .handbook-tile-footer .symbol .symbol-label svg path {
	 stroke: #6797ab;
}
 .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer:nth-child(6n+5) .handbook-tile-item .handbook-tile-looper-bg svg path {
	 stroke: #bdebff !important;
}
 .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer:nth-child(6n+5) .handbook-tile-footer .symbol .symbol-label, .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer:nth-child(6n+5) .handbook-tile-item .btn-handbook-share, .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer:nth-child(6n+6) .handbook-tile-item {
	/* tile 6 */
	 background-color: #ffe8e8;
	 border-color: #ffe8e8;
}
 .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer:nth-child(6n+6) input:checked ~ .handbook-tile-item, .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer:nth-child(6n+6) .handbook-tile-item .btn-handbook-share svg path {
	 fill: #ad6363;
}
 .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer:nth-child(6n+6) .handbook-tile-footer .symbol .symbol-label svg path {
	 stroke: #ad6363;
}
 .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer:nth-child(6n+6) .handbook-tile-item .handbook-tile-looper-bg svg path {
	 stroke: #ffc6c6 !important;
}
 .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer:nth-child(6n+6) .handbook-tile-footer .symbol .symbol-label, .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer:nth-child(6n+6) .handbook-tile-item .btn-handbook-share, .hrms-accordion-wrapper .handbook-share-svg {
	 height: 14px;
}
 .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer .handbook-tile-header {
	 position: relative;
	 top: unset;
	 left: unset;
	 width: 100%;
	 padding: 0 0 10px 0 !important;
}
 .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer .handbook-tile-header .label-white {
	 box-shadow: 0px 0px 8px rgba(97, 97, 97, 0.12);
}
 .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer .handbook-tile-footer {
	position: relative;
	width: 100%;
	padding: 10px 0 0 0;
	margin-top: auto;
}
 .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer:hover .handbook-tile-header a h3::after {
	 width: 100%;
}
 .hrms-accordion-wrapper .checkbox {
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-align: center;
	 -ms-flex-align: center;
	 align-items: center;
	 position: relative;
	 text-align: left;
	 cursor: pointer;
	 font-size: 1.1rem;
	 -webkit-transition: all 0.3s ease;
	 transition: all 0.3s ease;
	 margin: 0;
}
 .hrms-accordion-wrapper .checkbox > span {
	 background-color: none;
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-align: center;
	 -ms-flex-align: center;
	 align-items: center;
	 -webkit-box-pack: center;
	 -ms-flex-pack: center;
	 justify-content: center;
	 -ms-flex-negative: 0;
	 flex-shrink: 0;
	 border-radius: 0.35rem;
}
 .hrms-accordion-wrapper .checkbox > span:after {
	 content: '';
	 border-color: transparent;
	 border-style: solid;
	 border-width: 0 2px 2px 0 !important;
	/*rtl:ignore*/
	 -webkit-transform: rotate(45deg);
	/*rtl:ignore*/
	 transform: rotate(45deg);
	/*rtl:ignore*/
	 margin-top: -2px;
}
 .hrms-accordion-wrapper .checkbox > input {
	 position: absolute;
	 z-index: -1;
	 opacity: 0;
}
 .hrms-accordion-wrapper .checkbox:hover > input:not([disabled]) ~ span, .hrms-accordion-wrapper .checkbox > input:focus ~ span {
	 -webkit-transition: all 0.3s ease;
	 transition: all 0.3s ease;
}
 .hrms-accordion-wrapper .checkbox.checkbox-disabled {
	 opacity: 0.6;
	 cursor: not-allowed;
}
 .hrms-accordion-wrapper .checkbox > input:checked ~ span {
	 -webkit-transition: all 0.3s ease;
	 transition: all 0.3s ease;
	 background-color: none;
}
 .hrms-accordion-wrapper .checkbox > input:checked ~ span:after {
	 display: block;
}
 .hrms-accordion-wrapper .checkbox > span {
	 height: 18px;
	 width: 18px;
}
 .hrms-accordion-wrapper .checkbox > span:after {
	 width: 5px;
	 height: 10px;
}
 .hrms-accordion-wrapper .checkbox > span {
	 background-color: #fff;
	 border: 1px solid #dbe1e6 !important;
	 border-radius: 5px;
}
 .hrms-accordion-wrapper .checkbox > input:focus ~ span {
	 border: 1px solid transparent;
}
 .hrms-accordion-wrapper .checkbox > input:checked ~ span {
	 border-color: #4785ff !important;
	 background-color: #4785ff !important;
}
 .hrms-accordion-wrapper .checkbox > input:checked ~ span:after {
	 border-color: #fff;
}
 .hrms-accordion-wrapper label {
	 color: rgba(43, 52, 95, 0.7);
}
 .hrms-accordion-wrapper .handbook-tile-wrapper .handbook-tile-item-outer .handbook-tile-item .checkbox span {
	 border-color: #dbe1e6 !important;
}
 .hrms-accordion-wrapper .label:not(li) {
	 padding: 0;
	 margin: 0;
	 display: -webkit-inline-box;
	 display: -ms-inline-flexbox;
	 display: inline-flex;
	 -webkit-box-pack: center;
	 -ms-flex-pack: center;
	 justify-content: center;
	 -webkit-box-align: center;
	 -ms-flex-align: center;
	 align-items: center;
	 height: 20px;
	 width: 20px;
	 border-radius: 50%;
	 font-size: 0.8rem;
	 background-color: #ebedf3;
	 color: rgba(63, 66, 84, 0.9);
	 font-weight: 400;
}
 .hrms-accordion-wrapper .label.label-lg.label-inline {
	 width: auto;
}
 .hrms-accordion-wrapper .label.label-inline.label-lg {
	 padding: 0.9rem 0.75rem;
}
 .hrms-accordion-wrapper .label.label-lg {
	 height: 24px;
	 width: 24px;
	 font-size: 0.9rem;
}
 .hrms-accordion-wrapper .label.label-inline {
	 width: auto;
}
 .hrms-accordion-wrapper .label.label-inline {
	 width: auto;
	 padding: 0.15rem 0.75rem;
	 border-radius: 0.35rem;
}
 .hrms-accordion-wrapper .label.label-pill {
	 border-radius: 2rem;
}
 .hrms-accordion-wrapper .label.label-light-primary {
	 color: #4785ff;
	 background-color: #e1f0ff;
}
 .hrms-accordion-wrapper .label.label-light-success {
	 color: #32d0a5;
	 background-color: #e3f9f3;
}
 .hrms-accordion-wrapper .label.label-light-danger {
	 color: #f64e60;
	 background-color: #ffefef;
}
 .hrms-accordion-wrapper .label.label-primary {
	 color: #fff;
	 background-color: #4785ff;
}
 .hrms-accordion-wrapper .label.label-light-warning {
    color: #FFA800;
    background-color: #FFF4DE;
}
.hrms-accordion-wrapper .str-list-item .str-item-level figure {
    background-color: rgba(0,0,0,0.03);
    padding: 2px;
    height: 16px;
    border-radius: 5px;
    line-height: 10px;
    width: 16px;
    text-align: center;
    margin: 2px 0 !important;
  }
 .hrms-accordion-wrapper .ml-auto, .hrms-accordion-wrapper .mx-auto {
	 margin-left: auto !important;
}
 .hrms-accordion-wrapper .h-10px {
	 height: 10px !important;
}
 .hrms-accordion-wrapper .h-13px {
	 height: 13px !important;
}
 .hrms-accordion-wrapper .align-items-center {
	 -webkit-box-align: center !important;
	 -ms-flex-align: center !important;
	 align-items: center !important;
}
 .hrms-accordion-wrapper .card {
	 word-wrap: break-word;
}
 .hrms-accordion-wrapper .border-light-primary {
	 border-color: #e1f0ff !important;
}
 .hrms-accordion-wrapper .btn-light-primary.border-light-primary {
	 border: solid 1px #b9dcff !important;
}
 .hrms-accordion-wrapper .swal2-cancel .btn-light-primary, .hrms-accordion-wrapper .btn.btn-light-primary {
	 color: #4785ff;
	 background-color: #ebf5ff;
	 border-color: transparent;
	 background-image: none;
}
 .hrms-accordion-wrapper .btn-xs, .hrms-accordion-wrapper .btn-group-xs > .btn {
	 padding: 0.4rem 0.6rem;
	 font-size: 0.85rem;
	 line-height: 1.2;
	 border-radius: 0.3rem;
}
 .hrms-accordion-wrapper .line-height-normal {
	 line-height: normal;
}
 
.str-item-level figure {
	background-color: rgba(0,0,0,0.03);
	padding: 2px;
	height: 16px;
	border-radius: 5px;
	line-height: 10px;
	width: 16px;
	text-align: center;
	margin: 2px 0 !important;
  }
  .handbook-actions-wrapper{
	opacity:0;
	width:0;
	overflow: hidden;
	pointer-events: none;
	transition: all 0.2s;
  }
  .handbook-actions-wrapper:hover,
  .handbook-tile-item-outer:hover .handbook-actions-wrapper{
	opacity:1;
	width:auto;
	pointer-events: auto;
  }
  .handbook-actions-wrapper i{
	transition: all 0.2s;
  	width: 0;
  }
  .handbook-actions-wrapper:hover i, 
  .handbook-tile-item-outer:hover .handbook-actions-wrapper i {
	width: 13px;
  }
  .handbook-tile-item-outer:hover .actions-approved {
	opacity: 1;
	width: auto!important;
	pointer-events: auto;
  }