.ui-v2{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / .5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: 
}
::backdrop .ui-v2 {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / .5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: 
}
.ui-v2 .gap-3 {
  gap: .75rem;
}
.ui-v2 .gapx-3 {
  column-gap: .75rem;
}

.ui-v2 .grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.ui-v2 .grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.ui-v2 .grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.ui-v2 .grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
.ui-v2 .grid-cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

@media (min-width: 1024px) {
  .ui-v2 .lg\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media (min-width: 1280px) {
  .ui-v2 .xl\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.ui-v2 .grid {
  display: grid;
}

.ui-v2 .duration-300 {
  animation-duration: .3s;
}

.ui-v2 .duration-300 {
  transition-duration: .3s;
}

.ui-v2 .transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
}

.ui-v2 .bg-card {
  background-color: rgb(255, 255, 255);
}

.ui-v2 .border-border {
  border-color: rgb(229, 231, 235);
}

.ui-v2 .transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
}

.ui-v2 .text-foreground {
  color: #0f1729;
}

.ui-v2 .tracking-tight {
  letter-spacing: -.025em;
}

.ui-v2 .font-bold {
  font-weight: 700;
}

.ui-v2 .text-2xl {
  font-size: 1.65rem;
  line-height: 2rem;
}

.ui-v2 .text-muted-foreground {
  color: #6b7280;
}

.ui-v2 .text-xs {
  font-size: 1rem;
  line-height: 1rem;
}

.ui-v2 .mt-0\.5 {
  margin-top: .125rem;
}

.ui-v2 .hover-border-primary-30:hover {
  border-color: rgba(11, 100, 244, 0.3) !important;
}
.ui-v2 .hover-border-pink-30:hover {
  border-color: #f9a8d4 !important;
}
.ui-v2 .hover-border-danger-30:hover {
  border-color: #FFBCBC !important;
}


.ui-v2 .group:hover .group-hover-scale-110 {
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
  transform:
    translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate))
    skewX(var(--tw-skew-x))
    skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y));
}

.border-bottom-tabs.border-light.border-bottom-tabs-2 li .nav-link:not(.active):not(:hover){
    border-color: var(--border-light)
}
.border-bottom-tabs.border-bottom-tabs-2.v2 li .nav-link:not(.active){
  border-bottom-color: transparent;
  border-bottom-width: 0;
}
  .border-bottom-tabs.border-bottom-tabs-2.v2 li .nav-link{
    padding:1rem 0 0.5rem 0;
    color: #6b7280;
    margin-bottom: -1px;
}
.border-bottom-tabs.border-bottom-tabs-2.v2 li .nav-link:not(.active):not(:hover) img{filter: grayscale(1);}
.border-bottom-tabs.border-bottom-tabs-2.v2 li .nav-link:not(.active):not(:hover){color: #6b7280;}
.border-bottom-tabs.border-bottom-tabs-2.v2 li .nav-link.active{border-bottom-width: 2px}
.border-bottom-tabs.border-bottom-tabs-2.v2 li .nav-link:not(.active):hover{
    color: #000;
    /*border-color: var(--border-light);*/
}
.border-bottom-tabs.border-bottom-tabs-2.v2 li .nav-link:not(.active):hover img {
  filter: contrast(0);
}
.border-bottom-tabs.border-bottom-tabs-2.v2 li .nav-link:not(.active) .label {
  filter: grayscale(1);
}

.border-left-4{border-left-width: 4px!important}
.ui-v2 .default-arrow-collapse::after {
  top: 50%;
  right: 0;
  transform: translateY(-50%) rotate(90deg);
  width: 30px;
  height: 30px;
  background-color: rgba(11, 100, 244, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  color: #4785ff;
}
.ui-v2 .default-arrow-collapse.collapsed::after {
    background-color: rgba(243, 244, 246, 0.5);
    color:rgb(107, 114, 128);
    transform: translateY(-50%) rotate(-90deg);
}
.flat-tabs .nav-link{color:#6b7280!important }
.flat-tabs .nav-link.active{background-color: transparent!important; color: #000!important}
.flat-tabs.nav.nav-pills .nav-link.active svg > *:not(.label){color: #000!important}
.flat-tabs .nav-link.active span{color: #4785FF;font-weight:600}
.flat-tabs.flat-tabs-1.nav.nav-pills .nav-link{
  padding: 5px 10px;
  border-radius: 100px;
}
.flat-tabs.nav.nav-pills .nav-link:hover{color: #000!important}
.flat-tabs.flat-tabs-1.nav.nav-pills .nav-link.active{
  box-shadow: 0px 2px 3px rgba(0,0,0,0.07);
}
.hover-shadow-md:hover{box-shadow: 0 4px 6px -1px rgba(0,0,0,0.07)}
.hover-shadow-md.hover-shadow-primary-5:hover{box-shadow: 0px 2px 3px rgb(230, 239, 254)}
.bg-light-draft{background-color: #fffbeb!important}
.bg-draft{background-color: #b45309!important}
.border-draft{border-color: #b45309!important}
.border-light-draft{border-color: rgba(180, 83, 9,0.3) !important}
.text-draft{color: #b45309!important}
.bg-pink-100-50 {
  background-color: #fce7f380;
}
.bg-light-pink{background-color: #fce7f3!important}
.bg-pink{background-color: #ec4899!important}
.text-pink{color: #db2777!important}
.grid-item-v2 .hover-resource-download:not(.grid-item-v2:hover .hover-resource-download){opacity: 0; transition: all 0.2s}
.thoght-leadership-grid-wrapper .grid-item-v2 figure{
    height: 120px;
    background-size: cover;
    background-position: center center;
}
.two-lines{
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* Limits the text to 2 lines */
  line-clamp: 2; /* Standard property (limited support, primarily used with vendor prefix for now) */
}
.AIA-right .grid-item-v2:hover div.bg-light{
  background-color: #C1E1FF !important;
}
.AIA-right .grid-item-v2{width:calc(50% - 7px)}
.AIA-right .grid-item-v2:hover div.bg-light svg{color: #4785FF!important}
.chat-header-v2 {
  background-image: linear-gradient(to right, #e6effe, #dedffd);
}
.chat-header-v2 .symbol ~ .dot{
  position: absolute;
  right: -3px;
  top: 0;
}
.bg-gradient-purple{
  background: linear-gradient(
    135deg,
    #C084FC 0%,
    #8B5CF6 45%,
    #60A5FA 100%
  );
  transition: all 0.1s;
}
.btn.bg-gradient-purple:hover{
  box-shadow: 0px 2px 6px rgba(0,0,0,0.15);
  transform: scale(1.03);
}
.TL-grid-play{
  position:absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 0.5;
  transition: all 0.2s;
}
.grid-item-v2:hover .TL-grid-play{opacity: 1}
.inner-scroll-sticky-tab{
  top: 65px;
  position: sticky;
  background-color: #f6f7f9;
  z-index: 1;
  padding-top: 10px;
  margin-top: -10px;
}
.grid-item-v2-actions {
  position: absolute;
  right: 12px;
  bottom: 12px;
  transition:all 0.2s;
  opacity: 0;
}
.grid-item-v2:hover .grid-item-v2-actions{
  opacity: 1;
}
.create-btn span:first-child{
  position: absolute;
  left: -1px;
  height: calc(100% + 4px);
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255,0.2);
  padding-left: 13px;
  padding-right: 10px;
}
.create-btn span:first-child i{line-height: 0!important}
.create-btn span:first-child i:before{transition: all 0.3s}
[aria-expanded="true"].create-btn:after{
  content: "";
}
[aria-expanded="true"].create-btn span:first-child i:before {
  transform: rotate(45deg) !important;
}
.btn-sort-v2:hover{
  color: #000;
}
[aria-expanded="true"].btn-sort-v2:after{
  transform: rotate(180deg) !important;
}
.btn-sort-v2:after{
  transition: all 0.2s;
}
.dropdown-sort-v2 li a{padding-right: 10px}
.dropdown-sort-v2 li a.active{color: #4785FF; background-color: RGBA(71, 133, 255,0.2);position: relative;}
.dropdown-sort-v2 li a.active::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 10px;
  background-color: #4785FF;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.view_type_v2 input{display: none;}
.view_type_v2 input ~ span{
  width:32px;
  height:32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:0.625rem;
  cursor: pointer;

}
.view_type_v2 input:checked ~ span{
  background-color: #fff;
  color: #000;
}
.create-dropdown .navi .navi-item .navi-link .navi-icon svg{
  height: 20px;
  width: 20px;
}
.submenu-v2-wrapper {
  margin: 0 0.25rem;
}
.submenu-v2-inner.submenu-v2.nav.nav-pills .nav-link{
  border-radius: 100px;
}
.submenu-v2-inner.submenu-v2.nav.nav-pills .nav-link.active{
  box-shadow: none;
}
.submenu-v2-inner.submenu-v2.nav.nav.nav-pills .nav-link.active svg:not(.label),
.submenu-v2-inner.submenu-v2.nav.nav.nav-pills .nav-link.active svg:not(.label) * {color: #fff!important}
.submenu-v2.submenu-v2-inner.nav.nav-pills .nav-link:hover::after, 
.submenu-v2.submenu-v2-inner.nav.nav-pills .nav-link.active::after{
  display: none;
}
.submenu-v2-inner.submenu-v2.nav.nav.nav-pills .nav-link:hover svg:not(.label, .active svg),
.submenu-v2-inner.submenu-v2.nav.nav.nav-pills .nav-link:hover svg:not(.label, .active svg) * {color: #000!important}
.text-hover-black:hover{color: #000!important}
.nav.nav-pills.tab-style-2.tab-style-2_1 .nav-link > span{
    padding: 4px;
    border-radius: 5px;
    min-width: 70px;
}
.nav.nav-pills.tab-style-2.tab-style-2_1 .nav-link:not(.active){border:0}
.nav.nav-pills.tab-style-2.tab-style-2_1 .nav-link:not(.active) span{
  background-color:#f4f4f4;
  color: #717886;
}
.nav.nav-pills.tab-style-2.tab-style-2_1 .nav-link:hover:not(.active) span{
  color: #000;
}
.mt-1px{margin-top:1px}
.mr-1px{margin-right:1px}
.mb-1px{margin-bottom:1px}
.ml-1px{margin-left:1px}
.main-header-search .form-control::-webkit-input-placeholder {
     color: #0;
     opacity: 1;
}
.main-header-search .form-control::-moz-placeholder {
     color: #6b7280;
     opacity: 1;
}
.main-header-search .form-control:-ms-input-placeholder {
     color: #6b7280;
     opacity: 1;
}
.main-header-search .form-control::-ms-input-placeholder {
     color: #6b7280;
     opacity: 1;
}
.main-header-search.input-group .form-control{border-radius: 8px!important;}
.main-header-search.input-group .form-control:not(:focus){border-color: transparent;}
#kt_header .btn.btn-outline-secondary:not(:hover),
#kt_header .btn.btn-outline-secondary:not(:hover) i{color:#6b7280}
.noti-btn:hover svg{color: #000}
.noti-btn .noti-count.sm {
  top: -1px;
  right: -1px;
  width: 6px;
  height: 6px;
  border: solid 0px #fff;
  font-size: 0px;
  text-indent: -9999px;
}
.radius-10px{border-radius: 10px!important}
.grid-item-v2-actions .btn.btn-hover-light-danger:hover svg path{
  fill: none;
}
.ui-v2 .dash-tab-prev, 
.ui-v2 .dash-tab-next{
  top:calc(50% - 0px);
}
.breadcrumb.breadcrumb-dot .breadcrumb-item::after,
.breadcrumb.breadcrumb-transparent::before {
  content: "\f11b";
  font-family: "Ki";
  color: #4785FF;
}
span.dot-lg{min-width:6px}
.border-transparent{border-color: transparent;}
.bg-hover-light-primary:hover{background-color: #F0F8FF !important;}
.border-white-30{border-color: rgba(255,255,255,0.3) !important;}
.banner-v2-actions a svg{
  color: #fff;
  opacity:0.7;
}
.banner-v2-actions a:hover svg{opacity:1;}
.banner-v2-actions a:hover{background-color: rgba(255, 255, 255, 0.2);}
.banner-v2-actions a.text-danger svg{
  color: #FF7070;
}
.banner-v2-actions a.text-danger:hover{
  background-color:rgba(255, 112, 112,0.2) !important
}
ol.custom-ol{padding-left: 30px}
ol.custom-ol li::before{
  --size: 22px;
  color: #4785FF;
  background-color: #E1F0FF;
  text-shadow:none;
  font-size: 12px;
  font-weight: normal;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
}
ol.custom-ol.custom-ol-with-border li{
  padding: 10px 0;
  margin:0;
}
ol.custom-ol.custom-ol-with-border li:last-child{
  padding-bottom: 0;
}
ol.custom-ol.custom-ol-with-border li:not(:first-child){
  border-top:solid 1px var(--border-light-v2);
}
.col-full {
  grid-column: span 2 / span 2;
}
.grid-cols-3 .col-full {
  grid-column: span 3 / span 3;
}
.td-first-text-left tr td:first-child{
  text-align: left;
}
.label-light-danger{border:solid 1px rgba(246, 78, 96,0.2)}
.label-light-success{border:solid 1px rgba(50, 208, 165,0.2)}
.label-light-warning{border:solid 1px rgba(255, 168, 0,0.2)}
.label-light-info{border:solid 1px rgba(123, 111, 255,0.2)}
.label-light-primary{border:solid 1px rgba(71, 133, 255,0.2)}
.label-light{border:solid 1px #EBEDF3}
.line-height-22px{line-height: 22px!important}
.ui-v2 .text-muted {
  color: rgba(43, 52, 95,0.7) !important;
}
.bg-hover-lighter:hover{
  background-color: rgba(243, 244, 246, 0.3)!important;
}

.top--1px{top:-1px}
.top--2px{top:-2px}
.top--3px{top:-3px}
.ui-v2 .bg-hover-white:hover,
.ui-v2 a.bg-hover-white:hover{background-color: #fff!important}
.border-bottom-list > *:not(:last-child){
  padding-bottom: 7px;
  margin-bottom: 7px;
  border-bottom: solid 1px var(--border-light-v2);
}
li:last-child .border-bottom-list{margin-bottom: 0!important}
ol.custom-ol.custom-ol-with-border.top li::before{
  top:20px;
}
.font-cursive{
  font-family: cursive;
}
.ui-v2 .form-control{color: #2b345f}
.ui-v2 .checkbox{font-size:14px;color: #000}
body .ui-v2 .select2-container--default .select2-selection--multiple, 
.ui-v2 .select2-container--default .select2-selection--single{
  color:#A3ACC6 !important;
}
.max-h-42px ~ .select2 .select2-selection,
.max-h-42px{max-height: 42px!important}
.ui-v2 .select2-container--default .select2-selection--single .select2-selection__rendered{
  color: #2b345f!important;
}
.bg-green,
.label-green{
  background-color: #0fb77f!important;
  color: #fff!important;
}
.bg-purple,
.label-purple{
  background-color: #8b5cf5!important;
  color: #fff!important;
}
.bg-cyan,
.label-cyan{
  background-color: #06b5d3!important;
  color: #fff!important;
}
.bg-pink,
.label-pink{
  background-color: var(--pink)!important;
  color: #fff!important;
}
.border-left-dashed{border-left-style: dashed!important;}

.ui-v2 .default-arrow-collapse.text-white:hover::after,
.ui-v2 .default-arrow-collapse.text-white::after,
.ui-v2 .default-arrow-collapse.text-white.collapsed::after{
  color: rgba(255,255,255,0.75);
}
.ui-v2 .default-arrow-collapse.collapsed.text-white::after{
  color: rgba(255,255,255,0.65);
}
.arrow-on-hover{opacity: 0; transition: all 0.2s;transform: translateX(-2px);}
.ui-v2 .border-light-primary {
  border-color: #D5E6F7 !important;
}
.ui-v2 .border-light-danger {
  border-color: #FDD !important;
}
.ui-v2 .border-light-warning {
  border-color: #FFEBC3 !important;
}
.ui-v2 .border-light-success {
  border-color: #c7eeee !important;
}
.ui-v2 .border-light-info {
  border-color: #E8DBFF !important;
}
.ui-v2 .text-black {
  color: #000 !important;
}
.ui-v2 .owl-carousel .owl-stage{display: flex;}
.ui-v2 .grid-style-v2 .owl-carousel .owl-stage{display: flex;}
/* Firefox */
.custom-scrollbar {
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #cad0db #e4e7ec;
}

/* Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f00;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #f90;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #666;
}
.label.label-inline{height: auto;}
.w-fit-content{width: fit-content!important;}

.ui-v2 .btn.btn-hover-outline-primary:not(.btn-text):not(:disabled):not(.disabled):focus,
.ui-v2 .btn.btn-hover-outline-primary:not(.btn-text):not(:disabled):not(.disabled):hover {
  background-color: #fff;
  border-color: #4785FF;
  color: #4785FF;
} 
.ui-v2 a.bg-hover-white:focus, 
.ui-v2 button.bg-hover-white:focus {
  background-color: #fff !important;
}
.gold-gradient{
background:
    radial-gradient(
      ellipse at top left,
      #FFF9F0 0%,
      #FFFFFF 55%
    ),
    radial-gradient(
      ellipse at bottom right,
      #FFF3DD 0%,
      #FFFFFF 60%
    );

  background-color: #ffffff;
}
.ui-v2 .border-light-gold{
  border-color: rgba(245, 159, 10, 0.2)!important;
}
.hover-inner-text-primary:hover .text-hover-primary{color: #4785FF !important}
.hover-inner-text-underline:hover .text-hover-underline,
.text-hover-underline:hover{text-decoration: underline!important;}
.ui-v2 .group .show-on-group-hover{
  opacity: 0;
  transition: all 0.2s;
}
.ui-v2 .group:hover .show-on-group-hover{
  opacity: 1;
}
.ui-v2 .btn.btn-hover-secondary:hover:not(.btn-text):not(:disabled):not(.disabled), 
.ui-v2 .btn.btn-hover-secondary:focus:not(.btn-text), 
.ui-v2 .btn.btn-hover-secondary.focus:not(.btn-text) {
  color: #000 !important;
  background-color: #EEF0F7 !important;
  border-color: #E4E6EF !important;
}
.offcanvas-v2.offcanvas.offcanvas-right:not(.offcanvas-on){
  right: -100%;
}
body .ui-v2 .select2-container--default .select2-selection--single .select2-selection__placeholder{
  font-size:14px;
}
.toast.progress-bar-toast{position:fixed}
.ui-v2 sup.text-danger {
  color: #FF7070 !important;
}
.breadcrumb.v1.breadcrumb-dot .breadcrumb-item::after, 
.breadcrumb.v1.breadcrumb-transparent::before {
  content: "\f1e4";
  font-family: Flaticon2;
  color: rgba(43, 52, 95,0.7);
}
.group:hover .group-hover-text-primary{color: #4785FF !important}
.list-with-bb > :not(:first-child) {
  border-top: solid 1px var(--border-light);
  padding-top: 10px;
  margin-top: 10px;
}
.col-span-2{grid-column: span 2 / span 2;}
.tabs-sm-v2 .nav-item .nav-link{
  padding: 3px 8px;
  font-size: 12px;
  color: rgba(43, 52, 95,0.7);
}
.tabs-sm-v2 .nav-item .nav-link.active{
  background-color: #4785FF;
  color: #fff;
}