<!--begin::Head-->
<head>
  <meta charset="utf-8" />
  <title>{{title}}</title>
  <meta name="description" content="Employee Profile Module" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!--begin::Fonts-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
  <!--end::Fonts-->
  <link href="assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
  <link href="assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
  <link href="assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
  <link href="assets/css/responsive.css" rel="stylesheet" type="text/css" />
  <link href="assets/css/bn-style.css" rel="stylesheet" type="text/css" />
  <!--begin::Layout Themes-->
  <link href="assets/css/themes/layout/header/base/light.css" rel="stylesheet" type="text/css" />
  <link href="assets/css/themes/layout/header/menu/light.css" rel="stylesheet" type="text/css" />
  <link href="assets/css/themes/layout/brand/light.css" rel="stylesheet" type="text/css" />
  <link href="assets/css/themes/layout/aside/light.css" rel="stylesheet" type="text/css" />
  <!--end::Layout Themes-->
  <link rel="shortcut icon" href="assets/images/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="assets/css/ui-v2.css">
  <link rel="stylesheet" type="text/css" href="assets/css/workforce-profile-module.css">
</head>
<!--end::Head-->
