<!--begin::Header Desktop-->
<div id="kt_header" class="header header-fixed">
  <div class="container-fluid d-flex align-items-stretch justify-content-between">
    <!--begin::Header Menu Wrapper-->
    <div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
      <!-- Header menu content will be extracted from the original HTML in Phase 2 -->
    </div>
    <!--end::Header Menu Wrapper-->
    <!--begin::Topbar-->
    <div class="topbar">
      <!-- Search, notifications, user panel - to be extracted in Phase 2 -->
      <div class="topbar-item">
        <div class="btn btn-icon btn-icon-mobile w-auto btn-clean d-flex align-items-center btn-lg px-2">
          <span class="symbol symbol-lg-35 symbol-25 symbol-light-success rounded-circle overflow-hidden">
            <div class="symbol-label" style="background-image:url('{{employee.avatar}}')"></div>
          </span>
          <span class="text-dark-50 font-weight-bolder font-size-base d-none d-md-inline ml-3">{{employee.fullName}}</span>
        </div>
      </div>
    </div>
    <!--end::Topbar-->
  </div>
</div>
<!--end::Header Desktop-->
