<!--begin::Header Mobile-->
<div class="header-mobile align-items-center header-mobile-fixed">
  <!--begin::Logo-->
  <a href="index.html">
    <img alt="Logo" src="assets/media/logos/logo-dark.png" />
  </a>
  <!--end::Logo-->
  <!--begin::Toolbar-->
  <div class="d-flex align-items-center h-100">
    <!-- Mobile Search Toggle -->
    <div class="dropdown d-lg-none" id="kt_quick_search_toggle">
      <div class="topbar-item" data-toggle="dropdown" data-offset="10px,0px">
        <div class="btn btn-icon btn-clean btn-lg btn-dropdown mr-1">
          <span class="svg-icon svg-icon-xl svg-icon-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <rect x="0" y="0" width="24" height="24" />
                <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero" />
              </g>
            </svg>
          </span>
        </div>
      </div>
    </div>
    <!-- Aside Mobile Toggle -->
    <button id="kt_aside_mobile_toggle" class="btn btn-icon btn-clean btn-lg btn-dropdown ml-3">
      <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <rect x="0" y="0" width="24" height="24" />
          <rect fill="#4f8aff" x="4" y="5" width="16" height="3" rx="1.5" />
          <path d="M5.5,15 L18.5,15 C19.3284271,15 20,15.6715729 20,16.5 C20,17.3284271 19.3284271,18 18.5,18 L5.5,18 C4.67157288,18 4,17.3284271 4,16.5 C4,15.6715729 4.67157288,15 5.5,15 Z M5.5,10 L18.5,10 C19.3284271,10 20,10.6715729 20,11.5 C20,12.3284271 19.3284271,13 18.5,13 L5.5,13 C4.67157288,13 4,12.3284271 4,11.5 C4,10.6715729 4.67157288,10 5.5,10 Z" fill="#4f8aff" opacity="0.3" />
        </g>
      </svg>
    </button>
    <!-- User Toggle -->
    <div class="topbar-item border-left ml-3 pl-4 h-100 d-flex">
      <div id="kt_quick_user_toggle1" class="btn btn-icon btn-icon-mobile w-auto btn-clean d-flex align-items-center btn-lg px-2 align-self-center">
        <span class="symbol symbol-lg-35 symbol-25 symbol-light-success rounded-circle overflow-hidden">
          <div class="symbol-label" style="background-image:url('{{employee.avatar}}')"></div>
        </span>
      </div>
    </div>
  </div>
  <!--end::Toolbar-->
</div>
<!--end::Header Mobile-->
