<!--begin::Aside-->
<div class="aside aside-left aside-fixed d-flex flex-column flex-row-auto fixedWidthAside" id="kt_aside">
  <!--begin::Brand-->
  <div class="brand flex-column-auto" id="kt_brand">
    <a href="index.html" class="brand-logo">
      <img alt="Logo" class="w-100 px-2" src="assets/media/logos/logo-dark.png" />
    </a>
  </div>
  <!--end::Brand-->
  <!--begin::Aside Menu-->
  <div class="aside-menu-wrapper flex-column-fluid" id="kt_aside_menu_wrapper">
    <div id="kt_aside_menu" class="aside-menu my-4" data-menu-vertical="1" data-menu-scroll="1" data-menu-dropdown-timeout="500">
      <ul class="menu-nav">
        <!-- Sidebar menu items will be extracted from the original HTML in Phase 2 -->
        <li class="menu-item" aria-haspopup="true">
          <a href="#" class="menu-link">
            <span class="svg-icon menu-icon"></span>
            <span class="menu-text">Dashboard</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!--end::Aside Menu-->
</div>
<!--end::Aside-->
