<!--begin::Tab Navigation-->
<div class="bg-white rounded-lg p-2 mb-6 shadow-v2">
  <div class="submenu-v2-wrapper d-flex gap-10 position-relative">
    <div class="dash-tab-prev" id="scroll-subnav-prev"></div>
    <ul class="nav nav-pills flex-grow-1 no-scrollbar flex-nowrap text-nowrap d-flex list-unstyled mb-0 font-15 gap-10 submenu-v2">
      <li class="nav-item" aria-haspopup="true">
        <a href="#tabWP1" data-toggle="tab" class="sub_menu nav-link d-inline-flex gap-10" target="_self">
          <figure class="mb-0 line-height-normal d-flex">
            <img src="assets/media/images/subnav-profile.svg" class="h-15">
          </figure>
          <span>Personal Profile</span>
        </a>
      </li>
      <li class="nav-item" aria-haspopup="true">
        <a href="#tabWP2" data-toggle="tab" class="sub_menu nav-link d-inline-flex gap-10" target="_self">
          <figure class="mb-0 line-height-normal d-flex">
            <img src="assets/media/images/subnav-security.svg" class="h-15">
          </figure>
          <span>Identity &amp; Compliance</span>
        </a>
      </li>
      <li class="nav-item" aria-haspopup="true">
        <a href="#tabWP3" data-toggle="tab" class="sub_menu nav-link d-inline-flex gap-10" target="_self">
          <figure class="mb-0 line-height-normal d-flex">
            <img src="assets/media/images/subnav-job.svg" class="h-15">
          </figure>
          <span>Job &amp; Organization</span>
        </a>
      </li>
      <li class="nav-item" aria-haspopup="true">
        <a href="#tabWP4" data-toggle="tab" class="sub_menu nav-link d-inline-flex gap-10" target="_self">
          <figure class="mb-0 line-height-normal d-flex">
            <img src="assets/media/images/subnav-bullseye.svg" class="h-15">
          </figure>
          <span>TA &amp; Onboarding</span>
        </a>
      </li>
      <li class="nav-item" aria-haspopup="true">
        <a href="#tabWP5" data-toggle="tab" class="sub_menu nav-link d-inline-flex gap-10" target="_self">
          <figure class="mb-0 line-height-normal d-flex">
            <img src="assets/media/images/subnav-analytics.svg" class="h-15">
          </figure>
          <span>Performance</span>
        </a>
      </li>
      <li class="nav-item" aria-haspopup="true">
        <a href="#tabWP6" data-toggle="tab" class="sub_menu nav-link d-inline-flex gap-10 active" target="_self">
          <figure class="mb-0 line-height-normal d-flex">
            <img src="assets/media/images/subnav-star.svg" class="h-15">
          </figure>
          <span>Talent Management</span>
        </a>
      </li>
      <li class="nav-item" aria-haspopup="true">
        <a href="#tabWP7" data-toggle="tab" class="sub_menu nav-link d-inline-flex gap-10" target="_self">
          <figure class="mb-0 line-height-normal d-flex">
            <img src="assets/media/images/subnav-learning.svg" class="h-15">
          </figure>
          <span>Learning &amp; Development</span>
        </a>
      </li>
    </ul>
    <div class="dash-tab-next" id="scroll-subnav-next"></div>
  </div>
</div>
<!--end::Tab Navigation-->
