.login.login-1 .login-aside .aside-img {
  min-height: 450px; 
  background-size: 100% auto;
}

.login.login-1 .login-signin,
.login.login-1 .login-signup,
.login.login-1 .login-forgot {
  display: none; }

.login.login-1.login-signin-on .login-signup {
  display: none; }

.login.login-1.login-signin-on .login-signin {
  display: block; }

.login.login-1.login-signin-on .login-forgot {
  display: none; }

.login.login-1.login-signup-on .login-signup {
  display: block; }

.login.login-1.login-signup-on .login-signin {
  display: none; }

.login.login-1.login-signup-on .login-forgot {
  display: none; }

.login.login-1.login-forgot-on .login-signup {
  display: none; }

.login.login-1.login-forgot-on .login-signin {
  display: none; }

.login.login-1.login-forgot-on .login-forgot {
  display: block; }

@media (min-width: 992px) {
  .login.login-1 .login-aside {
    width: 50%;
    max-width: calc(100% - 600px);
   }
  .login.login-1 .login-content {
    width: 50%;
max-width: 480px;
 }
    .login.login-1 .login-content .login-form {
      width: 100%;
      max-width: 450px; } }

@media (min-width: 992px) and (max-width: 1399.98px) {
  .login.login-1 .login-aside {
    width: 50%;
    max-width: calc(100% - 500px);
  }
}

@media (max-width: 991.98px) {
  .login.login-1 .login-content .login-form {
    width: 100%;
    max-width: 450px; } }

@media (max-width: 575.98px) {
  .login.login-1 .aside-img {
    min-height: 300px !important;
    background-size: 400px; }
  .login.login-1 .login-content .login-form {
    width: 100%;
    max-width: 100%; } }


    .login-logo img{
      max-height: 45px;
    }

    .show-passowrd-div label small:after{
      content: "\f070";
      font-family: "Font Awesome 5 Free";
      font-weight: 400;
      font-size: 15px;
    }
    .show-passowrd-div {
      position: absolute;
      top: 50%;
      right: 17px;
      transform: translateY(-50%);
    }
    .show-passowrd-div input[type=checkbox]:checked ~ small::after {
      content: "\f06e";
    }
    .login-aside{
      background-color: #eff7ff;
      justify-content: center;
    }
    .login-banner-text{
      width: 75%;
      margin:auto;
      text-align: center;
      font-size: 15px;
      line-height: 30px;      
      color: #6A697E;
    }
    .login-banner-text h3{
      line-height:35px;
      margin-bottom: 10px;
      font-weight:400;
    }
